*, :after, :before {
    box-sizing: inherit;
    outline: none;
}
html {
    box-sizing: border-box;
    overflow-y: scroll;
    scroll-behavior: smooth;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%}
a, abbr, acronym, address, applet, article, aside, audio, b, big, blockquote, body, canvas, caption, cite, code, dd, del, details, dfn, div, dl, dt, em, embed, fieldset, figcaption, figure, footer, form, h1, h2, h3, h4, h5, h6, header, hgroup, html, i, iframe, img, ins, kbd, label, legend, li, mark, menu, nav, object, ol, output, p, pre, q, s, samp, section, small, span, strike, strong, sub, summary, sup, table, tbody, td, tfoot, th, thead, time, tr, tt, u, ul, var, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font-weight: inherit;
    vertical-align: baseline;
}
a {
    text-decoration: none;
    color: #000;
    cursor: pointer;
}
button, input, select, textarea {
    outline: 0;
    margin: 0;
    padding: 0;
    border: 1px solid #f2f2f2;
    background-color: #fff;
}
input[type=radio] {
    vertical-align: text-bottom;
}
input[type=checkbox] {
    vertical-align: bottom;
}
input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 1000px #fff inset;
}
textarea {
    resize: none;
}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
    display: block;
}
ol, ul {
    list-style: none;
}
img {
    max-width: 100%;
    object-fit: contain;
}
b, strong {
    font-weight: 700;
}


/* FONTE BASE DO SITE */
*{
	font-family: 'PT Serif', serif;
}

/* CLASSE PARA USAR TRANSITION NOS ELEMENTOS */
.tra{
	-webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
}

/* CONTAINER DO SITE */

.container{
	width: 1280px;
	display: flex;
	margin: 0 auto;
	max-width: 100%;
	padding: 0px 18px;
}

.container-full{
    width: 100%;
    margin: 0 auto;
    max-width: 100%;
}
.container-padrao{
    width: 1260px;
    margin: 0 auto;
    max-width: 100%;
    padding: 0px 18px;
}
.container-maior{
    width: 1366px;
    margin: 0 auto;
    max-width: 100%;
    padding: 0px 18px;
}
.container-pequeno{
    width: 1036px;
    margin: 0 auto;
    max-width: 100%;
    padding: 0px 18px;
}
.container-menor{
    width: 882px;
    margin: 0 auto;
    max-width: 100%;
    padding: 0px 18px;
}

.container.row{
	flex-direction: row;
}

.container.col{
	flex-direction: column;
}
.anime-init {
	opacity: 1 !important;
	transform: translate(0px, 0px) !important;
	transition-property: all !important;
    transition-duration: 0.8s !important;
    transition-timing-function: ease !important;
}
.anime-fade {
	opacity: 0;
    transition-property: all;
    transition-duration: 0.8s;
    transition-timing-function: ease;
}
.anime-left {
	opacity: 0;
	transform: translate(-50px, 0px);
    transition: .8s all ease;
}
.anime-right {
	opacity: 0;
	transform: translate(50px, 0px);
    transition: .8s all ease;
} 
.anime-bottom {
	opacity: 0;
	transform: translate(0px, 50px);
    transition: .8s all ease;
}
.anime-top {
	opacity: 0;
	transform: translate(0px, -50px);
    transition: .8s all ease;
}
.container-valores{
    width 100%;
    max-width 100%;
    margin-top: 50px;
    .container-padrao{
        display flex;
        justify-content: space-between;
        .container-valor{
            width: 31%;
            max-width 100%;
            display flex;
            .container-imagem{
                width: 93px;
                min-width 93px;
                height: 87px;
                border-radius: 3px;
                box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
                background-color: #ff3d00;
                display flex;
                justify-content: center;
                align-items: center;
                margin-right: 28px;
                img{
                    height: 45px;
                }    
            }
            .container-conteudo{
                width: 240px;
                max-width 100%;
                h1{
                    font-family: Libre Franklin;
                    font-size: 18px;
                    font-weight: 500;
                    line-height: 1.5;
                    color: #4b4b4b;
                    margin-bottom: 16px;
                }
                p{
                    font-family: Libre Franklin;
                    font-size: 16px;
                    line-height: 1.38;
                    color: #717171;
                    img{
                        height: 22px;
                    }
                }
            }
        }
    }
}
.container-segmentos{
    width 100%;
    max-width 100%;
    margin-top: 240px;
    .container-padrao{
        display flex;
        align-items: center;
        flex-direction: column;
        overflow hidden;
        .titulo{
            font-family: Libre Franklin;
            font-size: 40px;
            font-weight: bold;
            line-height: 1.23;
            letter-spacing: 1.6px;
            color: #4b4b4d;
            margin-bottom: 100px;
            position:relative;
            text-align: center;
            text-transform: uppercase;
            &:after{
                content: "";
                position: absolute;
                top: 50%;
                margin-left: 20px;
                left 100%;
                height: 3px;
                width: 1000%;
                border-top: solid 3px #ff3d00;
            }
            &:before{
                content: "";
                position: absolute;
                top: 50%;
                margin-right: 20px;
                right: 100%;
                height: 3px;
                width: 1000%;
                border-top: solid 3px #ff3d00;
            }
        }
        .container-carrossel-pai{
            width 100%;
            max-width 100%;
            .container-carrossel{
                width 100%;
                max-width 100%;
                position relative;
                .prev-arrow-segmentos, .next-arrow-segmentos{
                    height 20px;
                    width fit-content;
                    position: absolute;
                    top: 30%;
                    z-index 10;
                    cursor pointer;
                    &.prev-arrow-segmentos{
                        left: 0;
                    }
                    &.next-arrow-segmentos{
                        right: 0;
                    }
                }
                .container-carrossel-nav{
                    width 100%;
                    max-width 100%;
                    padding 0 50px; 
                    position: relative;
                    .slick-list{
                        padding: 0 !important; 
                        .slick-track{
                            display flex;
                            align-items: center;
                            min-height: 650px;
                            height: 70vh;
                        } 
                    }
                    .container-segmento-nav-pai{
                        transition: all .3s;
                        width: 329px;
                        max-width 100%;
                        height 80%;
                        .container-segmento-nav{
                            max-width 100%;
                            width 100%;
                            background-size: cover;
                            height: 84%;
                            transition: all .3s;
                        }
                        h1{
                            font-family: Libre Franklin;
                            font-size: 18px;
                            font-weight: 600;
                            font-stretch: normal;
                            font-style: normal;
                            line-height: 1.2;
                            letter-spacing: 0.8px;
                            text-align: center;
                            color: #4b4b4d;
                            padding: 20px 0 0;
                        }
                        &.slick-current{
                            height 100%;
                            .container-segmento-nav{
                                height: 80%;
                                -webkit-transform: scaleX(1.3);
                            }
                            h1{
                                font-size: 25px;
                                font-weight: bold;
                                padding: 50px 25px 0;
                            }
                        }
                    }
                }
                .container-carrossel-content{
                    width 100%;
                    max-width 100%;
                    margin-top: 50px;
                    .container-segmento-content{
                        p{
                            font-family: Libre Franklin;
                            font-size: 18px;
                            font-weight: normal;
                            font-stretch: normal;
                            font-style: normal;
                            line-height: 1.5;
                            letter-spacing: normal;
                            text-align: left;
                            color: #4b4b4d;
                            margin-bottom: 40px;
                            white-space: pre-line;
                        }
                        .container-tags{
                            width 100%;
                            max-width 100%;
                            display flex;
                            flex-wrap: wrap;
                            justify-content: center;
                            .container-tag{
                                display flex;
                                justify-content center;
                                align-items: center;
                                padding: 13px 27px;
                                background-color: #444444;
                                margin: 10px 13px 0;
                                p{
                                    font-family: Libre Franklin;
                                    font-size: 15px;
                                    font-weight: 600;
                                    line-height: 1.2;
                                    letter-spacing: 0.6px;
                                    color: #ffffff;
                                    margin 0;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
@media(max-width: 1300px){
    .container-valores .container-padrao .container-valor{
        .container-imagem{
            width: 88px;
            height: 82px;
            min-width 88px;
            margin-right: 25px;
            img{
                height: 40px;
            }    
        }
        .container-conteudo{
            h1{
                font-size: 16px;
            }
            p{
                font-size: 15px;
            }
        }
    }
    .container-segmentos .container-padrao{
        .titulo{
            font-size: 35px;
        }
        .container-carrossel-pai .container-carrossel{
            .container-carrossel-nav .container-segmento-nav-pai{
                .container-segmento-nav{
                    height: 400px;
                }
                h1{
                    font-size: 18px;
                }
                &.slick-current{
                    .container-segmento-nav{
                        height: 550px;
                    }
                    h1{
                        font-size: 25px;
                    }
                }
            }
            .container-carrossel-content .container-segmento-content{
                p{
                    font-size: 16px;
                }
                .container-tags .container-tag p{
                    font-size: 14px;
                }
            }
        }
    }
}
@media(max-width: 1000px){
    .container-valores .container-padrao .container-valor{
        .container-imagem{
            width: 80px;
            height: 75px;
            min-width 80px;
            margin-right: 15px;
            img{
                height: 35px;
            }    
        }
        .container-conteudo{
            h1{
                font-size: 15px;
            }
            p{
                font-size: 13px;
                img{
                    height 18px;
                }
            }
        }
    }
    .container-segmentos .container-padrao{
        .titulo{
            font-size: 30px;
        }
        .container-carrossel-pai .container-carrossel{
            .prev-arrow-segmentos, .next-arrow-segmentos{
                top: 24%;
            }
            .container-carrossel-nav{
                .slick-list .slick-track {
                    min-height: 550px;
                } 
                .container-segmento-nav-pai{
                    .container-segmento-nav{
                        height: 300px;
                    }
                    &.slick-current{
                        transform: scale(1.3);
                        .container-segmento-nav{
                            height: 400px;
                        }
                        h1{
                            font-size: 22px;
                        }
                    }
                }
            }
            .container-carrossel-content .container-segmento-content .container-tags .container-tag{
                padding: 10px 24px;
            }
        }
    }
}
@media(max-width: 768px){
    .container-valores{
        .container-padrao{
            flex-direction: column;
            align-items: center;
            .container-valor{
                width: fit-content;
                margin-top 30px;
            }
        }
    }
    .container-segmentos .container-padrao{
        .titulo{
            font-size: 25px;
        }
        .container-carrossel-pai .container-carrossel{
            .prev-arrow-segmentos, .next-arrow-segmentos{
                top: 16%;
            }
            .container-carrossel-nav{
                .slick-list .slick-track {
                    //min-height: fit-content;
                } 
                .container-segmento-nav-pai{
                    .container-segmento-nav{
                        height: 200px;
                    }
                    &.slick-current{
                        .container-segmento-nav{
                            height: 300px;
                        }
                        h1{
                            font-size: 20px;
                            padding: 30px 25px 0;
                        }
                    }
                }
            }
        }
    }
}
@media(max-width: 550px){
    .container-segmentos .container-padrao .container-carrossel-pai .container-carrossel .container-carrossel-nav{
        padding 0 30px;
    }
}
@media(max-width: 500px){
    .container-segmentos .container-padrao .titulo{
        width 240px;
    }
}
