.container-breadcrumb{
    width 100%;
    max-width 100%;
    padding:16px 0;
    .container-padrao{
        display flex;
        align-items: center;
        .home{
            width: 15px;
            height: 15px;
            margin-right: 14px;
        }
        .arrow{
            margin-right: 14px;
            height : 10px;
        }
        a{
            font-family: Libre Franklin;
            font-size: 14px;
            font-weight: 500;
            line-height: 1.21;
            letter-spacing: 0.56px;
            color: #727376;
        }
    }
}
.container-posts-blog-pai{
    width: 100%;
    max-width 100%;
    margin-top 53px;
    .container-padrao{
        .carregar-mais{
            width: 288px;
            height: 70px;
            border-radius: 3px;
            background-color: #ff3d00;
            display flex;
            align-items: center;
            justify-content: center;
            margin 160px auto 0px;
            cursor pointer;
            transition all .3s;
            &:hover{
                filter: brightness(0.92);
            }
            p{
                font-family: Libre Franklin;
                font-size: 20px;
                font-weight: 600;
                line-height: 1.5;
                letter-spacing: 0.8px;
                color: #ffffff;
            }
        }
        .container-tags{
            width 100%;
            max-width 100%;
            display flex;
            flex-wrap: wrap;
            justify-content: center;
            .container-tag{
                display flex;
                background-color: #444444;
                margin: 0 13px;
                width fit-content;
                margin-top 20px;
                border: solid 2px transparent;
                transition: all .3s;
                a{
                    padding: 13px 25px;
                    font-family: Libre Franklin;
                    font-size: 15px;
                    font-weight: 600;
                    line-height: 1.2;
                    letter-spacing: 0.6px;
                    color: #ffffff;
                    transition: all .3s;
                }
                &:hover{
                    background-color: white;
                    border: solid 2px #444444;
                    a{
                        color: #444444;
                    }
                }
            }
        }
        .container-posts-blog{
            width 100%;
            max-width 100%;
            display flex;
            flex-wrap: wrap;
            justify-content: space-around;
            .container-nao-ha{
                width: 100%;
                max-width 100%;
                padding: 50px;
                p{
                    font-family: Libre Franklin;
                    font-size: 25px;
                    line-height: 1.43;
                    letter-spacing: 0.84px;
                    color: #000000;
                    text-align: center;
                    margin-top 23px;
                }
            }
            .container-post-total{
                width 100%;
                max-width 100%;
                display flex;
                margin-top 90px;
                &:first-child{
                    flex-direction: row-reverse;
                }
                &:nth-child(2){
                    margin-bottom 130px;
                }
                .container-imagem{
                    width: 52%;
                    max-width 100%;
                    height: 410px;
                    img{
                        width 100%;
                        height 100%;
                        object-fit: cover;
                    }
                }
                .container-conteudo{
                    width 48%;
                    padding: 0 15px 0 40px;
                    max-width 100%;
                    h1{
                        font-family: Libre Franklin;
                        font-size: 40px;
                        font-weight: bold;
                        line-height: 1.23;
                        letter-spacing: 1.6px;
                        color: #4b4b4d;
                    }
                    p{
                        font-family: SegoeUI;
                        font-size: 20px;
                        line-height: 1.35;
                        color: #707070;
                        margin-top 20px;
                    }
                    .container-autor{
                        width 100%
                        max-width: 100%;
                        display flex;
                        align-items: center;
                        margin-top 30px;
                        .container-imagem-autor{
                            width: 94px;
                            height: 94px;
                            border-radius: 50%;
                            display flex;
                            justify-content: center;
                            align-items: center;
                            margin-right: 25px;
                            overflow hidden;
                            img{
                                width: 94px;
                                height: 94px;
                                object-fit: cover;
                            }
                        }
                        .container-info{
                            width fit-content;
                            max-width: 100%;
                            p{
                                font-family: Libre Franklin;
                                font-size: 18px;
                                font-weight: normal;
                                font-stretch: normal;
                                font-style: normal;
                                line-height: 1.5;
                                letter-spacing: normal;
                                text-align: left;
                                color: #161616;
                                margin: 0;
                            }
                        }
                    }
                    .container-ler-mais{
                        width: 356px;
                        max-width 100%;
                        display flex;
                        justify-content: center;
                        border-radius: 3px;
                        background-color: #4b4b4b;
                        margin-top 55px;
                        a{
                            font-family: Libre Franklin;
                            font-size: 20px;
                            font-weight: 600;
                            line-height: 1.2;
                            letter-spacing: 0.8px;
                            color: #ffffff;
                            width: 100%;
                            text-align: center;
                            margin: 0;
                            padding:15px 0;
                        }
                    }
                }
            }
            .container-post{
                width 30%;
                max-width 100%;
                background-color: #ffffff;
                margin-top 100px;
                .container-imagem{
                    height: 336px;
                    width: 100%;
                    max-width 100%;
                    img{
                        height 100%;
                        width: 100%;
                        object-fit: cover;
                    }
                    // .container-tag{
                    //     p{

                    //     }
                    // }
                }
                h1{
                    font-family: Libre Franklin;
                    font-size: 20px;
                    font-weight: 600;
                    line-height: 1.2;
                    letter-spacing: 0.8px;
                    color: #4b4b4d;
                    padding: 24px 28px 0 28px;
                    margin: 0;
                }
                p{
                    font-family: Libre Franklin;
                    font-size: 18px;
                    line-height: 1.5;
                    color: #4b4b4b;
                    margin-top: 17px;
                    padding: 0 28px 24px;
                }
                .container-ler-mais{
                    width: 100%;
                    max-width 100%;
                    display flex;
                    justify-content: center;
                    border-radius: 3px;
                    background-color: #4b4b4b;
                    a{
                        font-family: Libre Franklin;
                        font-size: 20px;
                        font-weight: 600;
                        line-height: 1.2;
                        letter-spacing: 0.8px;
                        color: #ffffff;
                        margin: 0;
                        width: 100%;
                        text-align: center;
                        padding:15px 0;
                    }
                }
            }
        }
    }
}
@media(max-width: 1400px){
    .container-posts-blog-pai{
        .container-padrao{
            .carregar-mais p{
                font-size: 18px;
            }
            .container-tags .container-tag a{
                font-size: 14px;
            }
            .container-posts-blog{
                .container-nao-ha p{
                    font-size: 20px;
                }
                .container-post-total .container-conteudo{
                    h1{
                        font-size: 35px;
                    }
                    p{
                        font-size: 18px;
                    }
                    .container-autor{
                        .container-imagem-autor{
                            width: 85px;
                            height: 85px;
                            img{
                                width: 85px;
                                height: 85px;
                            }
                        }
                        .container-info p{
                            font-size: 16px;
                        }
                    }
                    .container-ler-mais a{
                        font-size: 18px;
                    }
                }
                .container-post{
                    h1{
                        font-size: 18px;
                    }
                    p{
                        font-size: 16px;
                    }
                    .container-ler-mais a{
                        font-size: 18px;
                    }
                }
            }
        }
    }
}
@media(max-width: 1000px){
    .container-posts-blog-pai .container-padrao{
        .carregar-mais p{
            font-size: 16px;
        }
        .container-tags .container-tag a{
            padding: 10px 20px;
        }
        .container-posts-blog{
            .container-nao-ha p{
                font-size: 18px;
            }
            .container-post-total .container-conteudo{
                h1{
                    font-size: 30px;
                }
                p{
                    font-size: 16px;
                }
                .container-autor .container-imagem-autor{
                    width: 75px;
                    height: 75px;
                    img{
                        width: 75px;
                        height: 75px;
                    }
                }
                .container-ler-mais a{
                    font-size: 16px;
                }
            }
            .container-post{ 
                .container-imagem{
                    height 250px;
                }
                .container-ler-mais a{
                    font-size: 16px;
                }
            }
        }
    }
}
@media(max-width: 768px){
    .container-posts-blog-pai .container-padrao{
        .carregar-mais{
            width: 200px;
            height: 60px;
        }
        .container-posts-blog{
            .container-post-total{
                flex-direction: column;
                &:first-child{
                    flex-direction: column;
                }
                &:nth-child(2){
                    margin-bottom 130px;
                }
                .container-imagem{
                    width: 100%;
                }
                .container-conteudo{
                    width 100%;
                    margin-top 50px;
                    .container-ler-mais{
                        width 100%;
                    }
                }
            }
            .container-post{
                width 45%;
            }
        }
    }
}
@media(max-width: 500px){
    .container-posts-blog-pai .container-padrao{
        .carregar-mais{
            width: 200px;
            height: 60px;
        }
        .container-posts-blog{
            .container-post-total{
                flex-direction: column;
                &:first-child{
                    flex-direction: column;
                }
                &:nth-child(2){
                    margin-bottom 130px;
                }
                .container-imagem{
                    width: 100%;
                    height 270px;
                }
            }
            .container-post{
                width 100%;
            }
        }
    }
}