.carrinho-lista{
    cursor: default;
    right: 0;
    position: absolute;
    transition: .2s all;
    transform: scale(0) ;
    transform-origin: 100% 0%;
    width: 310px;
    min-height: 310px;
    padding: 20px 12px;
    z-index 100;
    background-color: #ffffff;
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, .16);
    border: solid 1px #fff;
	.container-conteudo{
        span{
            font-family: Libre Franklin;
            font-size: 14px;
            line-height: 1.71;
            text-align: center;
            color: #000000;
        }
        p{
            font-family: Libre Franklin;
            font-size: 14px;
            font-weight: 500;
            line-height: 1.21;
            letter-spacing: .56px;
            color: #9f9f9f;
        }
        .container-botao-carrinho{
            width: 100%;
            border-radius: 3px;
            background-color: #ff3d00;
            display: flex;
            margin-top 20px;
            a{
                font-family: Libre Franklin;
                font-size: 18px;
                font-weight: 600;
                line-height: 1.5;
                letter-spacing: .8px;
                color: #fff;
                width: 100%;
                padding: 10px 5px;
                text-align: center;
            }
            &:hover {
                filter: brightness(.95);
            }
        }
        .container-produto{
            width 100%;
            max-width 100%;
            padding-top 20px;
            display flex;
            justify-content: space-between;
            align-items: center;
            border-top: solid 1px #d3d3d3;
            &:first-child{
                padding-top 0px;
                border-top: solid 0px #d3d3d3;
            }
            .container-info-pai{
                width 100%;
                .container-titulo{
                    width 100%;
                    h1 {
                        font-family: Libre Franklin;
                        font-size: 16px;
                        font-weight: 600;
                        line-height: 1.31;
                        color: #ff3d00;
                    }
                    p{
                        font-family: Libre Franklin;
                        font-size: 12px;
                        font-weight: bold;
                        line-height: 1.67;
                        color: #4b4b4d;
                        margin-top 13px;
                    }
                }
                .container-info{
                    width 100%;
                    display flex;
                    justify-content: space-between;
                    align-items: center;
                    .container-quantidade-pai{
                        max-width 100%;
                        display flex;
                        align-items: center;
                        .container-quantidade{
                            max-width 100%;
                            display flex;
                            justify-content: center;
                            align-items: center;
                            margin-top: 10px
                            p{
                                font-family: Libre Franklin;
                                font-size: 12px;
                                font-weight: 500;
                                line-height: 1.21;
                                letter-spacing: 0.56px;
                                color: #9f9f9f;
                                margin-right: 10px;
                            }
                            .quantidade-produto {
                                width: 74px;
                                height: 35px;
                                border-radius: 3px;
                                display: flex;
                                justify-content: center;
                                align-items: center;
                                max-width: 100%;
                                min-width: 75px;
                                input {
                                    border: none;
                                    font-family: Libre Franklin;
                                    font-size: 16px;
                                    font-weight: 600;
                                    line-height: 1.18;
                                    color: #9f9f9f;
                                    width: 100%;
                                    text-align: left;
                                    display: flex;
                                    background: 0 0;
                                }
                                button {
                                    display: none;
                                    font-family: Libre Franklin;
                                    align-items: center;
                                    justify-content: center;
                                    height: 25px;
                                    border: none;
                                    cursor: pointer;
                                    color: #ff3d00;
                                    width: 33%;
                                    background: 0 0;
                                    font-size: 32px;
                                }
                            }
                        }
                    }
                    .container-remove{
                        max-width 100%;
                        .container-remove-image{
                            width: 17px;
                            height: 20px;
                            cursor pointer;
                            img{
                                width 100%;
                            }
                        }
                    }
                }
            }
        }
    
    }
}
@media(max-width: 768px){
    .carrinho-lista{
        display: none;
    }
}