.container-background-pai{
    width 100%;
    max-width 100%;
    position relative;
    overflow hidden;
    .background{
        position absolute;
        overflow hidden;
        width 100%;
        height 75%;
        transform: skewY(-3deg);
        top: -50px;
        z-index -1;
        background-color: #000000;
        img{
            width 100%;
            height 100%;
            float: right;
            transform: skewY(3deg);
            margin-top: 50px;
            object-fit: cover;
            opacity .1;
        }
    }
    .container-breadcrumb{
        width 100%;
        max-width 100%;
        padding:16px 0;
        .container-padrao{
            display flex;
            align-items: center;
            .home{
                width: 15px;
                height: 15px;
                margin-right: 14px;
            }
            .arrow{
                margin-right: 14px;
                height : 10px;
            }
            a{
                font-family: Libre Franklin;
                font-size: 14px;
                font-weight: 500;
                line-height: 1.21;
                letter-spacing: 0.56px;
                color: #727376;
            }
        }
    }
    .container-bloco-contato{
        width: 100%;
        max-width 100%;
        margin-top: 87px;
        .container-padrao{
            h1{
                font-family: Libre Franklin;
                font-size: 40px;
                font-weight: bold;
                line-height: 1.5;
                letter-spacing: 1.6px;
                color: #ffffff;
                white-space: pre-line;
                text-transform: uppercase;
            }
            .container-contato-sac{
                width 100%;
                max-width 100%;
                display: flex;
                margin-top: 60px;
                .container-contato-rapido{
                    width 50%;
                    max-width 100%;
                    display flex;
                    .container-imagem{
                        width: 125px;
                        height: 115px;
                        border-radius: 3px;
                        box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
                        background-color: #ff3d00;
                        display flex;
                        align-items: center;
                        justify-content: center;
                        img{
                            height: 73px;
                        }
                    }
                    .container-conteudo{
                        width 360px;
                        max-width 100%;
                        padding: 0 30px;
                        h1{
                            font-family: Libre Franklin;
                            font-size: 30px;
                            font-weight: bold;
                            line-height: 1.2;
                            letter-spacing: 1.2px;
                            color: #ffffff;
                        }
                        p{
                            margin-top: 20px;
                            font-family: Libre Franklin;
                            font-size: 18px;
                            line-height: 1.5;
                            color: #ffffff;
                        }
                        .link{
                            border-radius: 3px;
                            background-color: #ff3d00;
                            display flex;
                            margin-top: 33px;
                            width fit-content;
                            a{
                                width 100%;
                                padding: 12px 23px;
                                font-family: Libre Franklin;
                                font-size: 20px;
                                font-weight: 600;
                                line-height: 1.5;
                                letter-spacing: 0.8px;
                                color: #ffffff;
                            }
                            &:hover{
                                filter: brightness(0.95);
                            }
                        }
                    }
                }
                .container-sac{
                    width 50%;
                    max-width 100%;
                    display flex;
                    .container-imagem{
                        width: 125px;
                        height: 115px;
                        border-radius: 3px;
                        box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
                        background-color: #ff3d00;
                        display flex;
                        align-items: center;
                        justify-content: center;
                        img{
                            height: 73px;
                        }
                    }
                    .container-conteudo{
                        width 360px;
                        max-width 100%;
                        padding: 0 30px;
                        h1{
                            font-family: Libre Franklin;
                            font-size: 30px;
                            font-weight: bold;
                            line-height: 1.2;
                            letter-spacing: 1.2px;
                            color: #ffffff;
                        }
                        p{
                            font-family: Libre Franklin;
                            font-size: 18px;
                            line-height: 1.5;
                            color: #ffffff;
                            display flex;
                            margin-top: 20px;
                            img{
                                width: 22px;
                                height: 20px;
                                margin-right: 10px;
                            }
                        }
                    }
                }
            }
        }
    }
    .container-faq-pai{
        width: 100%;
        max-width 100%;
        margin-top: 140px;
        .container-padrao{
            display flex;
            align-items: center;
            flex-direction: column;
            overflow hidden;
            h1{
                font-family: Libre Franklin;
                font-size: 40px;
                font-weight: bold;
                line-height: 1.23;
                letter-spacing: 1.6px;
                color: #ffffff;
                position:relative;
                text-align: center;
                &:after{
                    content: "";
                    position: absolute;
                    top: 50%;
                    margin-left: 20px;
                    left: 100%;
                    height: 3px;
                    width: 1000%;
                    border-top: solid 3px #ff3d00;
                }
                &:before{
                    content: "";
                    position: absolute;
                    top: 50%;
                    margin-right: 20px;
                    right: 100%;
                    height: 3px;
                    width: 1000%;
                    border-top: solid 3px #ff3d00;
                }
            }
            .container-faq{
                margin-top: 100px;
                width 100%;
                max-width 100%;
                .container-faq-titulos{
                    display flex;
                    flex-wrap: wrap;
                    width 100%;
                    max-width 100%;
                    p{
                        font-family: Libre Franklin;
                        font-size: 20px;
                        font-weight: 500;
                        line-height: 1.2;
                        color: #ffffff;
                        cursor pointer;
                        transition: all .3s;
                        position relative;
                        padding-bottom: 5px;
                        margin-right: 100px;
                        &:before {
                            content : "";
                            position: absolute;
                            left: 0;
                            bottom: 0;
                            height: 2px;
                            width: 50px;
                            border-bottom:2px solid #4b4b4d;
                            transition: all .3s;
                        }
                        &.ativo{
                            &:before {
                                border-bottom:2px solid #ff3d00;
                            }
                        }
                    }
                }
                .container-faq-conteudo-pai{
                    width 100%;
                    max-width 100%;
                    margin-top: 30px;
                    max-height: 340px;
                    overflow-y: scroll;
                    .container-faq-conteudo{
                        background-color: #ffffff;
                        width: 97%;
                        border-radius: 3px;
                        padding: 50px 38px;
                        font-family: Libre Franklin;
                        font-size: 18px;
                        min-height: 341px
                        font-weight: 500;
                        line-height: 1.2;
                        white-space: pre-line;
                        display none;
                        p{
                            white-space: pre-line;
                        }
                        &.ativo{
                            display block
                        }
                    }
                    &::-webkit-scrollbar {
                        border-radius: 3px;
                        width: 43px;
                        margin-left: 50px;
                    }
                    &::-webkit-scrollbar-track {
                        border-radius: 3px;
                        background: #ffffff;
                    }
                    &::-webkit-scrollbar-thumb {
                        border-radius: 12px;
                        border: solid 7px white;
                        background-color: #4b4b4d;
                    }
                }
            }
        }
    }
    .container-formulario-pai{
        width 100%;
        max-width 100%;
        margin: 200px 0;
        .container-padrao{
            display flex;
            align-items: center;
            flex-direction: column;
            overflow hidden;
            h1{
                font-family: Libre Franklin;
                font-size: 40px;
                font-weight: bold;
                line-height: 1.23;
                letter-spacing: 1.6px;
                color: #ffffff;
                position:relative;
                text-align: center;
                &:after{
                    content: "";
                    position: absolute;
                    top: 50%;
                    left: 100%;
                    margin-left: 20px;
                    height: 3px;
                    width: 1000%;
                    border-top: solid 3px #ff3d00;
                }
                &:before{
                    content: "";
                    position: absolute;
                    top: 50%;
                    margin-right: 20px;
                    right: 100%;
                    height: 3px;
                    width: 1000%;
                    border-top: solid 3px #ff3d00;
                }
            }
            .container-formulario{
                width: 897px;
                max-width 100%;
                height: 842px;
                box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
                border: solid 1px #ffffff;
                background-color: #ffffff;
                padding: 70px 114px;
                align-items: center;
                flex-direction: column;
                display flex;
                margin: 100px 0 10px;
                border-radius: 3px;
                h2{
                    font-family: Libre Franklin;
                    font-size: 35px;
                    font-weight: bold;
                    font-stretch: normal;
                    font-style: normal;
                    line-height: 1.23;
                    letter-spacing: 1.4px;
                    text-align: center;
                    color: #4b4b4d;
                }
                form{
                    width: 100%;
                    max-width 100%;
                    align-items: center;
                    flex-direction: column;
                    display flex;
                    p{
                        font-family: Libre Franklin;
                        font-size: 18px;
                        font-weight: 500;
                        line-height: 1.5;
                        margin-top: 37px;
                        color: #4b4b4d;
                        width: 100%;
                    }
                    input{
                        width: 100%;
                        height: 53px;
                        border-radius: 3px;
                        border: solid 1px #ff3d00;
                        font-family: Libre Franklin;
                        font-size: 16px;
                        font-weight: 500;
                        line-height: 1.69;
                        color: #4b4b4d;
                        padding: 0 20px;
                        &::placeholder{
                            font-family: Libre Franklin;
                            font-size: 16px;
                            font-weight: 500;
                            line-height: 1.69;
                            color: #4b4b4d;
                        }
                    }
                    textarea{
                        width: 100%;
                        border-radius: 3px;
                        border: solid 1px #ff3d00;
                        padding: 20px;
                        font-family: Libre Franklin;
                        font-size: 16px;
                        font-weight: 500;
                        line-height: 1.69;
                        color: #4b4b4d;
                        padding: 20px;
                        &::placeholder{
                            font-family: Libre Franklin;
                            font-size: 16px;
                            font-weight: 500;
                            line-height: 1.69;
                            color: #4b4b4d;
                        }
                    }
                    button{
                        margin 0 auto;
                        width: 288px;
                        height: 70px;
                        border-radius: 3px;
                        background-color: #ff3d00;
                        font-family: Libre Franklin;
                        font-size: 20px;
                        font-weight: 600;
                        line-height: 1.5;
                        letter-spacing: 0.8px;
                        color: #ffffff;
                        margin-top: 50px;
                        border-radius: 3px;
                        cursor: pointer;
                        &:hover{
                            filter: brightness(0.95)
                        }
                    }
                    span{
                        font-family: Libre Franklin;
                        font-size: 16px;
                        padding-top 15px;
                        line-height: 1.55;
                        text-align: center;
                        &.success{
                            color: #00AB66;
                        }
                    }
                }
            }
        }
    }
}
.container-localizacao-pai{
    width: 100%;
    max-width 100%;
    margin-top 200px;
    #map{
        margin: 50px 0 -140px;
        height: 800px;
    }
    .container-padrao{
        display flex;
        align-items: center;
        flex-direction: column;
        overflow hidden;
        h1{
            font-family: Libre Franklin;
            font-size: 40px;
            font-weight: bold;
            line-height: 1.23;
            letter-spacing: 1.6px;
            color: #000000;
            position:relative;
            text-align: center;
            &:after{
                content: "";
                position: absolute;
                top: 50%;
                margin-left: 20px;
                left: 100%;
                height: 3px;
                width: 1000%;
                border-top: solid 3px #ff3d00;
            }
            &:before{
                content: "";
                position: absolute;
                top: 50%;
                margin-right: 20px;
                right: 100%;
                height: 3px;
                width: 1000%;
                border-top: solid 3px #ff3d00;
            }
        }
        .container-localizacao{
            width: 100%;
            max-width 100%;
            display flex;
            flex-wrap: wrap;
            margin-top: 100px;
            .container-endereco{
                cursor pointer;
                &:hover{
                    .container-conteudo p{
                        color: #ff3d00;
                    }
                }
            }
            .container-horario, .container-endereco{
                width 33%;
                max-width 100%;
                display flex;
                .container-imagem{
                    height: 61px;
                    width 61px;
                    max-width 100%;
                    img{
                        height 100%
                    }
                }
                .container-conteudo{
                    width 325px;
                    max-width 100%;
                    padding: 0 10px 0 30px;
                    p{
                        font-family: Libre Franklin;
                        font-size: 18px;
                        line-height: 1.5;
                        color: #161616;
                        white-space: pre-line;
                        transition all .3s;
                    }
                }
            }
        }
    }
}
@media(max-width: 1400px){
    .container-background-pai{
        .container-bloco-contato .container-padrao{
            h1{
                font-size: 35px;
            }
            .container-contato-sac{
                .container-contato-rapido{
                    .container-imagem{
                        width: 110px;
                        height: 100px;
                        img{
                            height: 65px;
                        }
                    }
                    .container-conteudo{
                        h1{
                            font-size: 25px;
                        }
                        .link a{
                            font-size: 18px;
                        }
                    }
                }
                .container-sac{
                    .container-imagem{
                        width: 115px;
                        height: 100px;
                        img{
                            height: 65px;
                        }
                    }
                    .container-conteudo h1{
                        font-size: 25px;
                    }
                }
            }
        }
        .container-faq-pai .container-padrao{
            h1{
                font-size: 35px;
            }
            .container-faq{
                .container-faq-titulos p{
                    font-size: 18px;
                }
                .container-faq-conteudo-pai .container-faq-conteudo{
                    font-size: 16px;
                }
            }
        }
        .container-formulario-pai .container-padrao{
            h1{
                font-size: 35px;
            }
            .container-formulario{
                h2{
                    font-size: 30px;
                }
                form{
                    p{
                        font-size: 16px;
                    }
                    button{
                        font-size: 18px;
                    }
                    span{
                        font-size: 14px;
                    }
                }
            }
        }
    }
    .container-localizacao-pai #map{
        height: 600px;
    }
    .container-localizacao-pai .container-padrao{
        h1{
            font-size: 35px;
        }
        .container-localizacao{
            .container-horario, .container-endereco{
                .container-imagem{
                    height: 50px;
                    width 50px;
                }
                .container-conteudo p{
                    font-size: 16px;
                }
            }
        }
    }
}
@media(max-width: 1000px){
    .container-localizacao-pai #map{
        height: 700px;
    }
    .container-background-pai{
        .container-bloco-contato .container-padrao{
            h1{
                font-size: 30px;
            }
            .container-contato-sac{
                .container-contato-rapido{
                    .container-imagem{
                        width: 100px;
                        height: 85px;
                        img{
                            height: 50px;
                        }
                    }
                    .container-conteudo{
                        h1{
                            font-size: 20px;
                        }
                        p{
                            font-size: 16px;
                        }
                        .link a{
                            font-size: 16px;
                        }
                    }
                }
                .container-sac{
                    .container-imagem{
                        width: 100px;
                        height: 85px;
                        img{
                            height: 50px;
                        }
                    }
                    .container-conteudo h1{
                        font-size: 20px;
                    }
                }
            }
        }
        .container-faq-pai .container-padrao{
            h1{
                font-size: 35 0px;
            }
            .container-faq{
                .container-faq-titulos p{
                    font-size: 16px;
                }
                .container-faq-conteudo-pai .container-faq-conteudo{
                    font-size: 16px;
                }
            }
        }
        .container-formulario-pai .container-padrao{
            h1{
                font-size: 30px;
            }
            .container-formulario{
                h2{
                    font-size: 25px;
                }
            }
        }
    }
    .container-localizacao-pai .container-padrao{
        h1{
            font-size: 30px;
        }
        .container-localizacao{
            .container-horario, .container-endereco{
                .container-imagem{
                    height: 40px;
                    width 40px;
                }
                .container-conteudo p{
                    font-size: 14px;
                }
            }
        }
    }
}
@media(max-width: 768px){
    .container-localizacao-pai #map{
        height: 600px;
    }
    .container-background-pai{
        .container-bloco-contato .container-padrao{
            h1{
                font-size: 25px;
            }
            .container-contato-sac{
                flex-direction: column;
                align-items: center;
                .container-contato-rapido{
                    width 350px;
                    .container-imagem{
                        min-width: 80px;
                        img{
                            height: 45px;
                        }
                    }
                    .container-conteudo{
                        padding: 0 18px;
                        h1{
                            font-size: 16px;
                        }
                        p{
                            margin-top: 14px;
                            font-family: Libre Franklin;
                            font-size: 18px;
                            line-height: 1.5;
                            color: #ffffff;
                        }
                        .link a{
                            padding: 10px 15px;
                            font-size: 16px;
                        }
                    }
                }
                .container-sac{
                    width 350px;
                    margin-top 50px;
                    .container-imagem{
                        min-width: 80px;
                    }
                    .container-conteudo{
                        padding: 0 18px;
                        h1{
                            font-size: 16px;
                        }
                        p{
                            font-size: 14px;
                            img{
                                width: 14px;
                                height: 14px;
                            }
                        }
                    }
                }
            }
        }
        .container-faq-pai{
            width: 100%;
            max-width 100%;
            margin-top: 140px;
            .container-padrao{
                display flex;
                align-items: center;
                flex-direction: column;
                overflow hidden;
                h1{
                    font-size: 25px;
                }
                .container-faq{
                    .container-faq-titulos p{
                        margin-right: 30px;
                    }
                    .container-faq-conteudo-pai{
                        &::-webkit-scrollbar {
                            width: 30px;
                        }
                    }
                }
            }
        }
        .container-formulario-pai .container-padrao{
            h1{
                font-size: 25px;
            }
            .container-formulario{
                padding: 70px 20px;
                h2{
                    font-size: 20px;
                }
                form{
                    p{
                        font-size: 14px;
                    }
                    input{
                        font-size: 14px;
                        &::placeholder{
                            font-size: 14px;
                        }
                    }
                    textarea{
                        font-size: 14px;
                        &::placeholder{
                            font-size: 14px;
                        }
                    }
                    button{
                        width: 250px;
                        height: 60px;
                        font-size: 16px;
                    }
                }
            }
        }
    }
    .container-localizacao-pai .container-padrao{
        h1{
            font-size: 25px;
        }
        .container-localizacao{
            align-items: center;
            flex-direction: column;
            .container-horario, .container-endereco{
                width 250px;
                margin-top 50px;
                .container-conteudo{
                    padding: 0 0px 0 18px;
                }
            }
        }
    }
}
@media(max-width: 550px){
    .container-background-pai{
        .container-faq-pai .container-padrao h1{
            width: 240px;
        }
        .container-formulario-pai .container-padrao h1{
            width: 240px;
        }
    }
    .container-localizacao-pai .container-padrao h1{
        width: 240px;
    }
}