.container-banner-normas{
    width: 100%;
    max-width 100%;
    position relative;
    overflow hidden;
    z-index 5;
    margin-top: 40px;
    .background{
        position absolute;
        width 100%;
        height 100%;
        background-color: #4b4b4b;
        transform: skewY(-3deg);
        top: 50px;
        z-index -1;
    }
    .container-padrao{
        display flex;
        justify-content: space-around;
        align-items: center;
        padding: 150px 18px 45px;
        .container-botao{
            width: 350px;
            max-width 100%;
            h1{
                font-family: Libre Franklin;
                font-size: 25px;
                font-weight: bold;
                line-height: 1.2;
                letter-spacing: 1px;
                color: #ffffff;
                margin-bottom: 40px;
            }
            .botao{
                width: 220px;
                border-radius: 3px;
                background-color: #ff3d00;
                display flex;
                a{
                    font-family: Libre Franklin;
                    font-size: 20px;
                    font-weight: 600;
                    line-height: 1.5;
                    letter-spacing: 0.8px;
                    color: #ffffff;
                    width 100%;
                    padding: 12px 0;
                    text-align: center;
                }
                &:hover{
                    filter: brightness(0.95)
                }
            }
        }
        .container-selos{
            display flex;
            max-width: 100%;
            justify-content: space-between;
            width: 50%;
            .container-imagem{
                width: 145px;
                padding: 0 10px;
                max-width 100%;
                img{
                    width: 100%;
                }
            }
        }
    }
}
.footer{
    width: 100%;
    max-width 100%;
    padding: 57px 0 0px;
    .container-padrao{
        h2{
            font-family: Libre Franklin;
            font-size: 18px;
            font-weight: 600;
            letter-spacing: 0.72px;
            color: #ff3d00;
            margin: 0 auto 55px;
            text-align: center;
            width: fit-content;
            cursor pointer;
            position relative;
            padding-bottom: 5px;
            &:before {
                content : "";
                position: absolute;
                left    : 0;
                bottom  : 0;
                height  : 2px;
                width   : 0px;
                border-bottom:2px solid #ff3d00;
                transition: all .3s;
            }
            &:hover{
                &:before {
                    width   : 30px;
                }
            }
        }
        .container-pages{
            width: 100%;
            max-width 100%;
            margin-bottom: 60px;
            ul{
                width: 100%;
                max-width 100%;
                display flex;
                justify-content: space-around;
                li{
                    a{
                        font-family: Libre Franklin;
                        font-size: 18px;
                        color: #161616;
                        transition: all .3s;
                        &:hover{
                            color: #ff3d00;
                        }
                    }
                }
            }
        }
        .container-info-pai{
            width 100%;
            max-width 100%;
            display: flex;
            justify-content: space-between;
            .container-info{
                width 56%;
                display flex;
                max-width 100%;
                .container-contato{
                    width: 300px;
                    max-width 100%;
                    margin-right: 85px;
                    h1{
                        font-family: Libre Franklin;
                        font-size: 25px;
                        font-weight: 600;
                        letter-spacing: 1px;
                        color: #4b4b4b;
                        margin-bottom: 35px;
                    }
                    p{
                        font-family: Libre Franklin;
                        font-size: 18px;
                        line-height: 1.5;
                        color: #161616;
                        margin-bottom: 35px;
                        white-space: pre-line;
                    }
                }
                .container-redes-pagamento{
                    width: 270px;
                    max-width 100%;
                    .container-redes-pai{
                        width 100%;
                        max-width 100%;
                        h1{
                            font-family: Libre Franklin;
                            font-size: 25px;
                            font-weight: 600;
                            line-height: 1.2;
                            letter-spacing: 1px;
                            color: #4b4b4b;
                            margin-bottom: 35px;
                        }
                        .container-redes{
                            width 100%;
                            max-width 100%;
                            display flex;
                            flex-wrap: wrap;
                            a{
                                margin-right: 35px;
                                img{
                                    width: 35px;
                                    height: 35px;
                                }
                            }
                        }
                    }
                    .container-pagamento{
                        width 100%;
                        max-width 100%;
                        margin-top: 35px;
                        h1{
                            font-family: Libre Franklin;
                            font-size: 25px;
                            font-weight: 600;
                            line-height: 1.2;
                            letter-spacing: 1px;
                            color: #4b4b4b;
                            margin-bottom: 35px;
                        }
                        p{
                            font-family: Libre Franklin;
                            font-size: 16px;
                            line-height: 1.38;
                            color: #4b4b4d;
                            text-align: justify;
                            img{
                                width: 185px;
                                margin-left 10px;
                            }
                        }
                    }
                }
            }
            .container-boleto{
                width: 40%;
                max-width 100%;
                img{
                    width 100%;
                    max-width 100%;
                }
                a{
                    .container-segunda-via{
                        width 100%;
                        max-width 100%;
                        border-radius: 3px;
                        background-color: #ff3d00;
                        padding: 15px 0;
                        display flex;
                        justify-content: center;
                        margin-top: 83px;
                        p{
                            font-family: Libre Franklin;
                            font-size: 24px;
                            font-weight: 600;
                            line-height: 1.13;
                            letter-spacing: 0.96px;
                            color: #ffffff;
                        }
                        &:hover{
                            filter: brightness(0.95)
                        }
                    }
                }
            }
        }
    }
    .container-direitos-pai{
        background-color: #4b4b4d;
        width 100%;
        max-width 100%;
        padding: 24px 0 19px;
        margin-top: 90px
        .container-padrao{
            display flex;
            justify-content space-between;
            p{
                font-family: Libre Franklin;
                font-size: 18px;
                line-height: 1.5;
                color: #ffffff;
                display flex;
                align-items: center;
                img{
                    width: 41px;
                    height: 41px;
                    margin-left: 23px;
                }
            }
        }
    }
}
@media(max-width: 1400px){
    .container-banner-normas .container-padrao{
        .container-botao{
            h1{
                font-size: 22px;
            }
            .botao a{
                font-size: 18px;
            }
        }
        .container-selos{
            .container-imagem{
                width: 130px;
            }
        }
    }
    .footer{
        .container-padrao{
            h2{
                font-size: 16px;
            }
            .container-pages ul li a{
                font-size: 16px;
            }
            .container-info-pai{
                .container-info{
                    .container-contato{
                        margin-right: 15px;
                        h1{
                            font-size: 22px;
                        }
                        p{
                            font-size: 16px;
                        }
                    }
                    .container-redes-pagamento{
                        .container-redes-pai{
                            h1{
                                font-size: 22px;
                            }
                            .container-redes a img{
                                width: 30px;
                                height: 30px;
                            }
                        }
                        .container-pagamento{
                            h1{
                                font-size: 22px;
                            }
                            p{
                                font-size: 15px;
                            }
                            img{
                                width: 160px;
                            }
                        }
                    }
                }
                .container-boleto a .container-segunda-via p{
                    font-size: 22px;
                }
            }
        }
        .container-direitos-pai .container-padrao p{
            font-size: 14px;
            img{
                width: 35px;
                height: 35px;
            }
        }
    }
}
@media(max-width : 1000px){
    .container-banner-normas .container-padrao .container-botao h1{
        font-size: 20px;
    }
    .footer .container-padrao{
        .container-info-pai{
            .container-info{
                .container-contato{
                    h1{
                        font-size: 20px;
                        margin-bottom: 25px;
                    }
                    p{
                        font-size: 15px;
                        margin-bottom: 25px;
                    }
                }
                .container-redes-pagamento{
                    .container-redes-pai{
                        h1{
                            font-size: 20px;
                            margin-bottom: 25px;
                        }
                        .container-redes a{
                            margin-right: 20px;
                            img{
                                width: 25px;
                                height: 25px;
                            }
                        }
                    }
                    .container-pagamento h1{
                        font-size: 20px;
                        margin-bottom: 25px;
                    }
                }
            }
        }
    }
}
@media(max-width: 768px){
    .container-banner-normas{
        .container-padrao{
            flex-direction: column-reverse;
            .container-botao{
                margin-top 50px;
                h1{
                    font-size: 20px;
                }
                .botao{
                    margin 0 auto;
                }
            }
            .container-selos{
                justify-content: space-between;
                width: 350px;
                .container-imagem{
                    width: 25%;
                }
            }
        }
    }
    .footer{
        .container-padrao{
            .container-pages ul{
                flex-direction: column;
                align-items: center;
                li{
                    margin-top 20px;
                    a{
                        font-size: 18px;
                    }
                }
            }
            .container-info-pai{
                width 500px;
                flex-direction: column;
                margin 0 auto;
                .container-info{
                    width 100%;
                    flex-direction: column;
                    .container-contato{
                        width: 100%;
                        margin-right: 0;
                        h1{
                            text-align center;
                        }
                        p{
                            text-align center;
                        }
                    }
                    .container-redes-pagamento{
                        width: 100%;
                        margin-top 50px;
                        .container-redes-pai{
                            width 100%;
                            max-width 100%;
                            h1{
                                text-align: center;
                            }
                            .container-redes{
                                justify-content: space-evenly;
                                a{
                                    margin-right: 0px;
                                    img{
                                        width: 30px;
                                        height: 30px;
                                    }
                                }
                            }
                        }
                        .container-pagamento{
                            margin-top: 50px;
                            display flex;
                            flex-direction: column;
                            align-items: center;
                            h1{
                                text-align: center;
                            }
                            p{
                                width 240px;
                                img{
                                    width: 130px;
                                }
                            }
                        }
                    }
                }
                .container-boleto{
                    width: 100%
                    margin-top 50px;
                    img{
                        width 100%;
                        max-width 100%;
                    }
                    a .container-segunda-via p{
                        font-size: 18px;
                    }
                }
            }
        }
        .container-direitos-pai .container-padrao{
            display flex;
            flex-direction: column;
            align-items: center;
            p{
                font-size: 14px;
                text-align: center;
                img{
                    width: 30px;
                    height: 30px;
                }
            }
        }
    }
}