.container-banner-carrossel-pai{
    width: 100%;
    height: 533px;
    max-width 100%;
    position relative;
    .container-arrows{
        width 100%;
        max-width 100%;
        position absolute;
        z-index 5;
        bottom: 45px;
        .container-padrao{
            display flex;
            justify-content: flex-end;
            .prev-arrow, .next-arrow{
                margin: 0 4px;
                width: 80px;
                height: 70px;
                border-radius: 3px;
                background-color: #ff3d00;
                display flex;
                justify-content: center;
                align-items: center;
                transition all .2s;
                cursor pointer;
                img{
                    width: 18px;
                }
                &.slick-disabled{
                    opacity .7;
                }
                &:hover{
                    filter: brightness(0.92);
                }
            }
        }
    }
    .container-banner-carrossel{
        width 100%;
        max-width 100%;
        height 100%;
        position relative;
        .slick-list{
            height 100%;
            .slick-track{
                height 100%;
            }
        }
        .slick-dots{
            bottom: 115px;
            z-index 5;
            width: 100%;
            display: flex;
            justify-content: center;
            li{
                width: 22px;
                height: 22px;
                border: solid 1px #707070;
                background-color: #ffffff;
                display: flex;
                align-items: center;
                justify-content: center;
                margin: 0 7px;
                padding: 0;
                border-radius: 50%;
                transition all .2s;
                button{
                    max-width 100%;
                    background: transparent !important;
                    &::before{
                        display: none;
                    }
                }
                &:hover{
                    filter: brightness(0.92);
                }
                &.slick-active{
                    background-color: #ff3d00;
                }
            }
            .slick-active{
                button{
                    width: 10px;
                    border-radius: 50%;
                    height: 10px;
                    padding: 0px;
                    background: white;
                    &::before{
                        display: none;
                    }
                }
            }
        }
        .container-banner{
            width 100%;
            max-width 100%;
            height 100%;
            position relative;
            padding: 65px 0 110px;
            .container-background{
                position absolute;
                overflow hidden;
                width 100%;
                height 100%;
                transform: skewY(-3deg);
                top: -50px;
                z-index -1;
                img{
                    width 100%;
                    height 100%;
                    float: right;
                    transform: skewY(3deg);
                    margin-top: 50px;
                    object-fit: cover;
                }
                .container-gradient{
                    position absolute;
                    width 100%;
                    height 100%;
                    background: linear-gradient(39deg,#202020 0,rgba(0, 0, 0, 0) 100%);
                }
            }
            .container-padrao{
                .container-conteudo{
                    width: 475px;
                    max-width 100%;
                    h1{
                        font-family: Libre Franklin;
                        font-size: 40px;
                        font-weight: bold;
                        line-height: 1.5;
                        letter-spacing: 1.6px;
                        color: #ffffff;
                    }
                    p{
                        font-family: Libre Franklin;
                        font-size: 22px;
                        font-weight: 500;
                        line-height: 1.45;
                        color: #cdcdcd;
                        margin-top: 15px;
                    }
                    .container-botao{
                        border-radius: 3px;
                        background-color: #ff3d00;
                        display flex;
                        width fit-content;
                        margin-top 10px;
                        a{
                            font-family: Libre Franklin;
                            font-size: 22px;
                            font-weight: 600;
                            line-height: 1.36;
                            letter-spacing: 0.88px;
                            color: #ffffff;
                            padding: 16px 50px;
                        }
                        &:hover{
                            filter: brightness(0.95)
                        }
                    }
                }
            }
        }
    }
}
.container-produtos-pai{
    width 100%;
    max-width 100%;
    margin-top: 180px;
    .container-padrao{
        display flex;
        align-items: center;
        flex-direction: column;
        border-top solid 3px #ff3d00;
        h1{
            font-family: Libre Franklin;
            font-size: 40px;
            font-weight: bold;
            line-height: 1.23;
            letter-spacing: 1.6px;
            color: #4b4b4d;
            background-color: #ffffff;
            padding: 0 40px;
            margin: -2% 0 120px;
        }
        .container-categorias-pai{
            width 100%;
            max-width 100%;
            margin-top: 60px;
            .container-categorias{
                width 100%;
                max-width 100%;
                display: flex;
                justify-content: space-between;
                flex-wrap: wrap;
                p{
                    margin-top: 20px;
                    font-family: Libre Franklin;
                    font-size: 18px;
                    font-weight: 500;
                    line-height: 1.17;
                    letter-spacing: 0.72px;
                    color: #4b4b4d;
                    cursor pointer;
                    transition: all .3s;
                    position relative;
                    padding-bottom: 5px;
                    &:before {
                        content : "";
                        position: absolute;
                        left    : 0;
                        bottom  : 0;
                        height  : 2px;
                        width   : 0px;
                        border-bottom:2px solid #ff3d00;
                        transition: all .3s;
                    }
                    &:hover{
                        color: #ff3d00;
                    }
                    &.ativo{
                        color: #ff3d00;
                        &:before {
                            width   : 30px;
                        }
                    }
                }
            }
        }
        .container-categorias-filhas-pai{
            width 100%;
            max-width 100%;
            overflow hidden;
            margin-top: 60px;
            .container-categorias-filhas-slide{
                width 100%
                max-width: 100%;
                max-height: 0;
                overflow hidden;
                .container-categorias-filhas{
                    width: 100%;
                    max-width 100%;
                    padding: 0 30px;
                    .slick-arrow{
                        width 25px;
                        height 25px;
                        background: no-repeat;
                        &::before{
                            display none;
                        }
                        &.slick-prev{
                            left: 0;
                            background-image: url(../../img/orange-prev-arrow.svg);
                        }
                        &.slick-next{
                            right 0;
                            background-image: url(../../img/orange-next-arrow.svg);
                        }
                        &:hover{
                            filter: brightness(0.95)
                        }
                    }
                    .slick-list{
                        width: 100%;
                        margin: 0 auto;
                    }
                    .container-categoria-filha-pai{
                        max-width 100%;
                        padding: 14px
                        a .container-categoria-filha{
                            border-radius: 3px;
                            padding: 30px 0;
                            max-width 100%;
                            display: flex;
                            align-items: center;
                            flex-direction: column;
                            cursor: pointer;
                            border: solid 1px transparent;
                            img{
                                height 88px;
                            }
                            h1{
                                font-family: Libre Franklin;
                                font-size: 20px;
                                font-weight: 600;
                                line-height: 1.2;
                                letter-spacing: .8px;
                                color: #4b4b4d;
                                margin: 30px 0 0 0;
                                padding: 0 10px;
                                text-align: center;
                            }
                            &:hover{
                                box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
                                border: solid 1px #ffffff;
                                background-color: #ffffff;
                            }
                        }
                    }
                }
                &.ativo{
                    max-height: 100%;
                }
            }
        }
    }
}
.container-fazer-orcamento{
    width: 100%;
    position relative;
    overflow hidden;
    padding: 160px 0 100px;
    margin-top: 170px;
    .container-background{
        position absolute;
        overflow hidden;
        width 100%;
        height 100%;
        transform: skewY(-3deg);
        top: 50px;
        z-index -1;
        background-color: #000000;
        .gradient{
            position: absolute;
            width: 55%;
            z-index: 10;
            background: linear-gradient(270deg, rgba(255,255,255,0) 0%, rgba(0,0,0,1) 30%);
            height: 100%;
        }
        img{
            width 65%;
            height 100%;
            float: right;
            transform: skewY(3deg);
            margin-top: -50px;
            object-fit: cover;
        }
    }
    .container-padrao{
        .container-conteudo-pai{
            max-width 100%;
            width 50%;
            .container-selos{
                display flex;
                width 100%;
                max-width 100%;
                flex-wrap: wrap;
                .container-imagem{
                    width: 62.9px;
                    height: 62.9px;
                    margin-right: 60px;
                    img{
                        width: 100%;
                    }
                }
            }
            h1{
                font-family: Libre Franklin;
                font-size: 30px;
                font-weight: 600;
                line-height: 1.5;
                letter-spacing: 1.2px;
                color: #ffffff;
                margin-top: 55px;
            }
            p{
                font-family: Libre Franklin;
                font-size: 18px;
                line-height: 1.5;
                letter-spacing: 0.72px;
                color: #ffffff;
                white-space: pre-line;
                margin-top: 43px;
            }
            .container-link{
                width: 519px;
                border-radius: 3px;
                background-color: #ff3d00;
                display flex;
                justify-content: center;
                margin-top: 55px;
                max-width: 100%;
                a{
                    width 100%;
                    padding: 15px;
                    font-family: Libre Franklin;
                    font-size: 24px;
                    font-weight: 600;
                    line-height: 1.13;
                    text-align: center;
                    letter-spacing: 0.96px;
                    color: #ffffff;
                }
                &:hover{
                    filter: brightness(0.95);
                }
            }
        }
    }
}
.container-blog-pai{
    width: 100%;
    max-width 100%;
    margin-top: 240px;
    background-position: top;
    .container-padrao{
        display flex;
        align-items: center;
        flex-direction: column;
        border-top solid 3px #ff3d00;
        h1{
            font-family: Libre Franklin;
            font-size: 40px;
            font-weight: bold;
            line-height: 1.23;
            letter-spacing: 1.6px;
            color: #4b4b4d;
            background-color: #ffffff;
            padding: 0 40px;
            margin: -2% 0 120px;
        }
        #ver-mais{
            font-family: Libre Franklin;
            font-size: 18px;
            font-weight: 600;
            line-height: 1.67;
            letter-spacing: 0.72px;
            color: #ff3d00;
            margin-top: 60px;
            position relative;
            padding-bottom: 5px;
            &:before {
                content : "";
                position: absolute;
                left    : 0;
                bottom  : 0;
                height  : 2px;
                width   : 0px;
                border-bottom:2px solid #ff3d00;
                transition: all .3s;
            }
            &:hover{
                &:before {
                    width   : 30px;
                }
            }
        }
        .container-blog{
            width 100%;
            max-width 100%;
            display: flex;
            justify-content: space-between;
            .container-post{
                width 30%;
                max-width 100%;
                background-color: #ffffff;
                height fit-content;
                .container-imagem{
                    height: 336px;
                    width: 100%;
                    max-width 100%;
                    img{
                        height 100%;
                        width: 100%;
                        object-fit: cover;
                    }
                    // .container-tag{
                    //     p{

                    //     }
                    // }
                }
                h1{
                    font-family: Libre Franklin;
                    font-size: 20px;
                    font-weight: 600;
                    line-height: 1.2;
                    letter-spacing: 0.8px;
                    color: #4b4b4d;
                    padding: 24px 28px 0 28px;
                    margin: 0;
                }
                p{
                    font-family: Libre Franklin;
                    font-size: 18px;
                    line-height: 1.5;
                    color: #4b4b4b;
                    margin-top: 17px;
                    padding: 0 28px 24px;
                }
                .container-ler-mais{
                    width: 100%;
                    max-width 100%;
                    display flex;
                    justify-content: center;
                    border-radius: 3px;
                    background-color: #4b4b4b;
                    a{
                        font-family: Libre Franklin;
                        font-size: 20px;
                        font-weight: 600;
                        line-height: 1.2;
                        letter-spacing: 0.8px;
                        color: #ffffff;
                        margin: 0;
                        padding:15px 0;
                        width: 100%;
                        text-align: center;
                    }
                    &:hover{
                        filter: brightness(0.95);
                    }
                }
                &:first-child{
                    margin-top: 150px;
                }
                &:nth-child(2){
                    margin-top: 75px;
                }
            }
        }
    }
}
@media(max-width: 1400px){
    .container-banner-carrossel-pai .container-banner-carrossel .container-banner .container-padrao .container-conteudo{
        h1{
            font-size: 35px;
        }
        p{
            font-size: 20px;
        }
        .container-botao a{
            font-size: 20px;
        }
    }
    .container-produtos-pai .container-padrao h1{
        font-size: 35px;
    }
    .container-fazer-orcamento .container-padrao .container-conteudo-pai{
        h1{
            font-size: 25px;
        }
        p{
            font-size: 16px;
        }
        .container-link a{
            font-size: 22px;
        }
    }
    .container-blog-pai .container-padrao{
        h1{
            font-size: 35px;
        }
        .container-blog .container-post{
            width 29%;
            .container-imagem{
                height: 300px;
            }
            h1{
                font-size: 18px;
            }
            p{
                font-size: 16px;
            }
            .container-ler-mais a{
                font-size: 18px;
            }
        }
    }
}
@media(max-width: 1000px){
    .container-produtos-pai .container-padrao{
        h1{
            font-size: 30px;
        }
        .container-categorias-pai .container-categorias{
            justify-content: space-evenly;
            p{
                padding-right: 20px;
            }
        }
        .container-categorias-filhas-pai .container-categorias-filhas-slide .container-categorias-filhas .container-categoria-filha-pai{
            width 220px;
            max-width 100%;
            padding: 14px
            a .container-categoria-filha{
                img{
                    height 75px;
                }
                h1{
                    font-size: 18px;
                }
            }
        }
    }
    .container-fazer-orcamento .container-padrao .container-conteudo-pai{
        .container-selos .container-imagem{
            width: 57px;
            height: 57px;
        }
        h1{
            font-size: 22px;
        }
        .container-link a{
            font-size: 18px;
        }
    }
    .container-blog-pai .container-padrao{
        h1{
            font-size: 30px;
        }
        .container-blog .container-post{
            width 31%;
            .container-imagem{
                height: 230px;
            }
            h1{
                font-size: 17px;
                padding: 24px 18px 0;
            }
            p{
                font-size: 15px;
                padding: 0 18px 24px;
            }
            .container-ler-mais a{
                font-size: 16px;
            }
        }
    }     
}
@media(max-width: 850px){
    .container-fazer-orcamento{
        .container-background{
            .gradient{
                width: 100%;
                opacity .85;
                background: black;
            }
            img{
                width 100%;
            }
        }
        .container-padrao{
            display flex;
            justify-content: center;
            .container-conteudo-pai{
                max-width 100%;
                width 400px;
                .container-selos .container-imagem{
                    margin-right: 25px;
                    margin-top 20px;
                }
                h1{
                    font-size: 20px;
                }
                p{
                    font-size: 15px;
                }
            }
        }
    }
}
@media(max-width: 768px){
    .container-banner-carrossel-pai{
        .container-arrows .container-padrao{
            justify-content: space-between;
            .prev-arrow, .next-arrow{
                width: 70px;
                height: 60px;
                img{
                    width: 15px;
                }
            }
        }
        .container-banner-carrossel{
            .slick-dots li{
                width: 18px;
                height: 18px;
            }
            .container-banner .container-padrao{
                display flex;
                justify-content: center;
                .container-conteudo{
                    width: 475px;
                    max-width 100%;
                    h1{
                        font-size: 30px;
                    }
                    p{
                        font-size: 18px;
                    }
                    .container-botao a{
                        font-size: 18px;
                        padding: 14px 40px;
                    }
                }
            }
        }
    }
    .container-blog-pai{
        background-repeat: no-repeat;
        .container-padrao .container-blog{
            flex-direction: column;
            align-items: center;
            .container-post{
                width 400px;
                margin-top: 40px;
                &:first-child{
                    margin-top: 0px;
                }
                &:nth-child(2){
                    margin-top: 40px;
                }
            }
        }
    }
}