@import 'vars.styl';
.scroll-block{
    max-width: 100%;
    height: 100%;
    width: 100%;
    overflow: hidden;
    position: fixed;
}
@keyframes teste {
    100% { 
        transform: rotate(360deg);
    }
}
.mostrar-menu {
  width:  100% !important;  
}
.container-loading{
    max-width 100%;
    width 100vw;
    height 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f8f8ff;;
    position: absolute;
    z-index 9999;
    .conteudo{
        max-width 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        #logo{
            width: 200px;
        }
    }
}
.container-contato-pai{
    width 100%;
    max-width 100%;
    background-color: #727376;
    position fixed;
    top: 0;
    z-index 10;
    .container-padrao{
        display flex;
        align-items: center;
        justify-content: space-between;
        padding: 13px 18px;
        .container-contato{
            display flex;
            max-width 100%;
            p{
                font-family: Libre Franklin;
                font-size: 16px; 
                color: #ffffff;
                display flex;
                margin-right: 40px;
                align-items: center;
                img{
                    width: 20px;
                    height: 22px;
                    margin-right: 9px;
                }
            }
        }
        .container-boleto{
            max-width 100%;
            a{
                font-family: Libre Franklin;
                font-size: 16px;
                font-weight: 600;
                color: #ffffff;
            }
        }
    }
}
.header{
    width: 100%;
    max-width 100%;
    .menu-lateral {
        height: 100%;
        width: 0;
        position: fixed;
        z-index: 9999;
        top: 0;
        left: 0;
        bottom: 0;
        background-color: #ffffff;
        transition: 0.95s;
        padding: 20px 0;
        overflow hidden;
        .after-container {
            width:100vw;
            height 90vh;
            display: flex;
            justify-content: space-between;
            flex-direction: column;
            .container-redes-pai{
                width: 100%;
                max-width 100%;
                .container-redes{
                    margin: 0 auto;
                    width: 100%;
                    max-width 100%;
                    display flex;
                    justify-content: center;
                    a{
                        width: fit-content;
                        height: fit-content;
                        img{
                            margin: 0 8px;
                            filter: invert(1);
                            width: 25px;
                            height: 25px;
                        }
                    }
                }
            }
            .fechar-menu {
                width: 100%;
                display: flex;
                justify-content: space-between;
                padding: 0 20px;
                align-items: center;
                img{
                    cursor: pointer;
                    width: 30px;
                    height 30px;
                }
                a .logo{
                    width: 170px;
                    height 70px;
                }
                .div-vazia{
                    width: 30px;
                    height 30px;
                }
            }
            .itens-responsivo {
                width: 100vw;
                display: flex;
                flex-flow: column;
                text-align: center;
                ul{
                    display flex;
                    flex-direction: column;
                    align-items: center;
                    li{
                        margin-top: 15px;
                        width: 200px;
                        display: flex;
                        a{
                            font-family: Libre Franklin;
                            font-size: 20px;
                            font-weight: bold;
                            letter-spacing: 0.8px;
                            color #4b4b4b;
                            &#fazer-orcamento-li{
                                background-color: #ff3d00;
                                color: white;
                                border-radius: 3px;
                                padding: 6px 0;
                                width: 100%;
                            }
                        }
                    }
                }
            }
        }
    }
    .container-logo-pai{
        width 100%;
        max-width 100%;
        .container-padrao{
            display flex;
            justify-content: space-between;
            align-items center;
            padding: 77px 18px 27px;
            .container-redes{
                display flex;
                max-width 100%;
                width 33%;
                a{
                    margin-right: 45px;
                    img{
                        width: 36px;
                        height: 36px;
                    }
                }
            }
            .container-menu-responsivo{
                display none;
            }
            #logo-header{
                width 33%;
                display flex;
                justify-content: center;
                .container-logo{
                    width 310px;
                    max-width 100%;
                    img{
                        width: 100%;
                    }
                }
            }
            .container-botoes{
                display flex;
                max-width 100%;
                width 33%;
                justify-content: flex-end;
                .container-botao{
                    width: 36px;    
                    height: 36px;
                    position relative;
                    margin-left: 45px;
                    a{
                        img{
                            margin-left: 0px;
                            width 100%;
                            height 100%;
                        }
                    }
                    .quantidade-carrinho{
                        position absolute;
                        width: 24px;
                        height: 19px;
                        border-radius: 3px;
                        background-color: #ff3d00;
                        right: -9px;
                        top: -7px;
                        display flex;
                        align-items: center;
                        justify-content: center;
                        font-family: Libre Franklin;
                        font-size: 11px;
                        font-weight: 600;
                        color: #ffffff;
                    }
                    .carrinho-lista{
                        cursor: default;
                        right: 0;
                        position: absolute;
                        transition: .2s all;
                        transform: scale(0) ;
                        transform-origin: 100% 0%;
                        width: 310px;
                        padding: 20px 12px;
                        z-index 100;
                        background-color: #ffffff;
                        box-shadow: 0 3px 6px 0 rgba(0, 0, 0, .16);
                        border: solid 1px #fff;
                    }
                    &:hover > .carrinho-lista {
                        transform: scale(1);
                    }
                }
                .container-pesquisa{
                    display flex;
                    input{
                        border: none;
                        margin-left: 10px;
                        border-bottom: solid 2px #ff3d00;
                        height: 100%;
                        width: 0px;
                        max-width: 100%;
                        font-family: Libre Franklin;
                        text-align: center;
                        font-size: 14px;   
                        transition: all .3s;
                        color: #4b4b4d;
                        &::placeholder{
                            font-family: Libre Franklin;
                            text-align: center;
                            font-size: 14px; 
                            color: #4b4b4d;
                        }
                        &.ativo{
                            width: 140px;
                        }
                    }   
                    img{
                        margin-left: 45px;
                        width: 36px;    
                        height: 36px;
                        cursor pointer;
                    }
                }
            }
        }
    }
    .container-pages-pai{
        background-color: #4b4b4b;
        width: 100%;
        max-width 100%;
        .container-padrao{
            ul{
                display flex;
                justify-content: space-between;
                width: 100%;
                max-width 100%;
                padding: 12px 0;
                li{
                    height: 44px;
                    display: flex;
                    align-items: center;
                    a{
                        font-family: Libre Franklin;
                        font-size: 20px;
                        font-weight: bold;
                        letter-spacing: 0.8px;
                        color: #ffffff;
                        &:hover{
                            filter: brightness(0.95)
                        }
                    }
                    &#orcamento{
                        width: 218px;
                        height: 44px;
                        border-radius: 3px;
                        background-color: #ff3d00;
                        justify-content: center;
                        &:hover{
                            filter: brightness(0.95)
                        }
                    }
                }
            }
        }
    }
}
@media(max-width: 1400px){
    .container-contato-pai .container-padrao{
        .container-contato p{
            font-size: 14px; 
            img{
                width: 16px;
                height: 16px;
            }
        }
        .container-boleto a{
            font-size: 14px;
        }
    }
    .header{
        .container-logo-pai .container-padrao{
            .container-redes a{
                margin-right: 35px;
                img{
                    width: 27px;
                    height: 27px;
                }
            }
            #logo-header .container-logo{
                width 270px;
            }
            .container-botoes{
                .container-botao{
                    width: 30px;    
                    height: 30px;
                    margin-left: 35px;
                    .quantidade-carrinho{
                        width: 20px;
                        height: 17px;
                    }
                }
                .container-pesquisa img{
                    margin-left: 35px;
                    width: 30px;    
                    height: 30px;
                }
            }
        }
        .container-pages-pai .container-padrao ul li{
            a{
                font-size: 17px;
            }
            &#orcamento{
                width: 210px;
                height: 40px;
            }
        }
    }
}
@media(max-width: 1000px){
    .container-contato-pai .container-padrao{
        .container-contato p{
            font-size: 12px;
        }
        .container-boleto a{
            font-size: 12px;
        }
    }
    .header{
        .container-logo-pai .container-padrao{
            .container-redes a img{
                width: 25px;
                height: 25px;
            }
            #logo-header .container-logo{
                width 250px;
            }
            .container-botoes .container-pesquisa input{
                &.ativo{
                    //width: 230px;
                }
            }
        }
        .container-pages-pai .container-padrao ul li a{
            font-size: 16px;
        }
    }
}
@media(max-width: 768px){
    .container-contato-pai{
        display none;
    }
    .header{
        .container-logo-pai{
            .container-padrao{
                padding: 27px 18px 27px;
                .container-redes{
                    display none;
                }
                .container-menu-responsivo{
                    display block;
                    cursor: pointer;
                    min-width 20px;
                    img{
                        width 20px;
                        height 20px;
                    }
                }
                #logo-header{
                    width fit-content;
                    max-width: 100%;
                    .container-logo{
                        width 200px;
                    }
                }
                .container-botoes{
                    width fit-content;
                    .container-botao{
                        width: 20px;    
                        height: 20px;
                    }
                    .container-pesquisa img{
                        width: 20px;    
                        height: 20px;
                    }
                }
            }
        }
        .container-pages-pai{
            display none;
        }
    }
}
@media(max-width: 550px){
    .header .container-logo-pai .container-padrao{
        justify-content: center;
        flex-wrap: wrap;
        .container-menu-responsivo{
            width 10%;
        }
        #logo-header{
            width 90%;
        }
        .container-botoes{
            margin-top 20px;
            justify-content: center;

            max-width 100%;
            width 100%;
            a{
                margin-left: 20px;
            }
            .container-pesquisa img{
                margin-right: 20px;
                margin-left 0;
            }
        }
    }
}
                        