.container-normas-pai{
    width 100%;
    max-width 100%;
    position relative;
    display flex;
    flex-direction: column;
    overflow: hidden;
    .container-background-overlayer{
        width 100%;
        max-width 100%;
        height 100%;
        position absolute;
        overflow hidden;
        transform: skewY(-3deg);
        top: -50px;
        .imagem-background{
            width: 100%;
            height 100%;
            object-fit: cover;
            position absolute;
            z-index -1;
            transform: skewY(3deg);
            margin-top: 50px;
        }
        .overlayer{
            width: 100%;
            height 100%;
            position absolute;
            z-index -1;
            background-color black;
            opacity .9;
        }
        .imagem-topo{
            width: 35%;
            position absolute;
            z-index 5;
            top: 0;
            margin-top: 50px;
            right: 0;
            transform: skewY(3deg);
        }
    }
    .container-breadcrumb{
        width 100%;
        max-width 100%;
        padding:16px 0;
        z-index 5;
        .container-padrao{
            display flex;
            align-items: center;
            flex-direction: row;
            margin-top 0px;
            padding-bottom 0px;
            .home{
                width: 15px;
                height: 15px;
                margin-right: 14px;
            }
            .arrow{
                margin-right: 14px;
                height : 10px;
            }
            a{
                font-family: Libre Franklin;
                font-size: 14px;
                font-weight: 500;
                line-height: 1.21;
                letter-spacing: 0.56px;
                color: #727376;
            }
        }
    }
    .container-padrao{
        margin-top 100px;
        padding-bottom 150px;
        display flex;
        flex-direction: column;
        z-index 5;
        h1{
            font-family: Libre Franklin;
            font-size: 40px;
            font-weight: bold;
            line-height: 1.5;
            letter-spacing: 1.6px;
            text-align: left;
            color: #ffffff;
            text-transform: uppercase;
            white-space pre-line;
        }
        .container-normas{
            .container-norma-pai{
                transition all .8s;
                max-height: 100%;
                overflow hidden;
                .container-botao-control{
                    width fit-content;
                    max-width 100%;
                    margin-top 90px;
                    cursor pointer;
                    display flex;
                    align-items: center;
                    p{
                        font-family: Libre Franklin;
                        font-size: 20px;
                        font-weight: 600;
                        font-stretch: normal;
                        font-style: normal;
                        line-height: 1.5;
                        letter-spacing: 0.8px;
                        text-align: left;
                        color: #ffffff;
                        transition all .2s;
                    }
                    img{
                        width: 25px;
                        height: 25px;
                        margin-left: 25px;
                        transition: all .3s;
                        transform: rotate(180deg);
                        &.ativo{
                            transform: rotate(0deg);
                        }
                    }
                    &:hover{
                        p{
                            color #ff3d00;
                        }
                    }
                }
                .container-norma{
                    width 930px;
                    max-width 100%;
                    display flex;
                    .container-imagem{
                        width: 125px;
                        height: 115px;
                        border-radius: 3px;
                        box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
                        background-color: #ff3d00;
                        display flex;
                        justify-content: center;
                        align-items: center;
                        margin-top 80px;
                        img{
                            width: 85px;
                            height: 85px;
                        }
                    }
                    .container-descricao{
                        padding: 0 20px;
                        max-width 100%;
                        width 799px;
                        h1{
                            font-family: Libre Franklin;
                            font-size: 30px;
                            font-weight: bold;
                            font-stretch: normal;
                            font-style: normal;
                            line-height: 1.2;
                            letter-spacing: 1.2px;
                            text-align: left;
                            color: #ffffff;
                            margin-top 80px;
                        }
                        p{
                            font-family: Libre Franklin;
                            font-size: 16px;
                            font-weight: 500;
                            line-height: 1.5;
                            color: #9f9f9f;
                            white-space pre-line;
                            margin-top 17px;
                        }
                    }
                }
                .container-conteudo-card-pai{
                    max-width 100%;
                    width 100%;
                    overflow-y: scroll;
                    margin-top 100px;
                    .container-conteudo{
                        min-height: 835px;
                        width 100%;
                        max-width 100%;
                        .container-cards{
                            width 100%;
                            height fit-content;
                            max-width 100%;
                            display flex;
                            flex-wrap: wrap;
                            .container-vazio{
                                width: 100%;
                                max-width 100%;
                                padding: 50px;
                                p{
                                    font-family: Libre Franklin;
                                    font-size: 25px;
                                    line-height: 1.43;
                                    letter-spacing: 0.84px;
                                    color: #f1f1f1;
                                    text-align: center;
                                    margin-top 23px;
                                }
                            }
                            .container-card-pai{
                                width: 33%;
                                max-width 100%;
                                display flex;
                                justify-content: center;
                                margin-bottom 80px;
                                .container-card{
                                    width: 294px;
                                    min-height: 377px;
                                    max-width 100%;
                                    padding: 31px;
                                    height 100%;
                                    background-color: #ffffff;
                                    border-radius: 3px;
                                    img{
                                        height: 115px;
                                        width: 100%;
                                    }
                                    h1{
                                        font-family: Libre Franklin;
                                        font-size: 21px;
                                        font-weight: 600;
                                        line-height: 1.43;
                                        letter-spacing: 0.84px;
                                        color: #ff3d00;
                                        margin-top 23px;
                                    }
                                    p{
                                        font-family: Libre Franklin;
                                        font-size: 16px;
                                        line-height: 1.5;
                                        letter-spacing: 0.64px;
                                        color: #4b4b4d;
                                        margin-top 8px;
                                    }
                                }
                            }
                        }
                    }
                    &::-webkit-scrollbar {
                        border-radius: 3px;
                        width: 43px;
                        margin-left: 50px;
                    }
                    &::-webkit-scrollbar-track {
                        border-radius: 3px;
                        background: #ffffff;
                    }
                    &::-webkit-scrollbar-thumb {
                        border-radius: 12px;
                        border: solid 7px white;
                        background-color: #4b4b4d;
                    }
                }
            }
        }
    }
}
.container-produtos-pai{
    width 100%;
    max-width 100%;
    margin-top: 150px;
    .container-padrao{
        display flex;
        align-items: center;
        flex-direction: column;
        overflow hidden;
        .titulo{
            font-family: Libre Franklin;
            font-size: 40px;
            font-weight: bold;
            line-height: 1.23;
            letter-spacing: 1.6px;
            color: #000000;
            position:relative;
            text-align: center;
            text-transform: uppercase;
            &:after{
                content: "";
                position: absolute;
                top: 50%;
                margin-left: 20px;
                height: 3px;
                width: 1000%;
                border-top: solid 3px #ff3d00;
            }
            &:before{
                content: "";
                position: absolute;
                top: 50%;
                margin-right: 20px;
                right: 100%;
                height: 3px;
                width: 1000%;
                border-top: solid 3px #ff3d00;
            }
        }
        .container-produtos{
            width 100%;
            max-width 100%;
            display flex;
            flex-wrap: wrap;
            margin-top: 150px;
            .container-produto{
                width 50%;
                max-width 100%;
                padding 2.5px;
                .container-conteudo-pai{
                    width 100%;
                    height 100%;
                    max-width 100%;
                    position relative;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    .container-background-botao{
                        width 100%;
                        height 100%;
                        max-width 100%;
                        position absolute;
                        z-index -1
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        transition-delay: .1s;
                        img{
                            width 100%;
                            height 100%;
                            z-index -1;
                            object-fit: cover;
                        }
                        .overlayer{
                            position absolute;
                            background-color #000000;
                            opacity .82;
                            width 100%;
                            height 100%;
                            transition: all .0s;
                        }
                        .botao{
                            position absolute;
                            z-index -1;
                            opacity 0;
                            transition: all .3s;
                            a{
                                font-family: Libre Franklin;
                                font-size: 20px;
                                font-weight: 600;
                                line-height: 1.5;
                                letter-spacing: 0.8px;
                                color: #ffffff;
                                padding 12px 24px;
                                border-radius: 3px;
                                background-color: #ff3d00;
                            }
                        }
                    }
                    .container-conteudo{
                        padding: 60px 10px;
                        width 479px;
                        transition: all .2s;
                        h1{
                            font-family: Libre Franklin;
                            font-size: 25px;
                            font-weight: 600;
                            line-height: 1.2;
                            letter-spacing: 1px;
                            color: #ffffff;
                            position relative;
                            padding-bottom: 5px;
                            &:before {
                                content : "";
                                position: absolute;
                                left    : 0;
                                bottom  : 0;
                                height  : 2px;
                                width   : 50px;
                                border-bottom:2px solid #ff3d00;
                                transition: all .3s;
                            }
                        }
                        p{
                            font-family: Libre Franklin;
                            font-size: 16px;
                            line-height: 1.38;
                            color: #ffffff;
                            margin-top: 20px;
                            white-space: pre-line;
                        }
                    }
                }
                &.ultimo{
                    width: 100%;
                    .container-conteudo-pai .container-conteudo{
                        width: 1025px;;
                    }
                }
                &:hover{
                    .container-conteudo-pai{
                        .container-background-botao{
                            z-index 5;
                            transition-delay: .3s;
                            .overlayer{
                                opacity 0;
                            }
                            .botao{
                                opacity 1;
                                z-index 5;
                            }
                        }
                        .container-conteudo{
                            opacity 0;
                        }
                    }
                }
            }
        }
    }
}
@media(max-width: 1400px){
    .container-normas-pai .container-padrao{
        h1{
            font-size: 35px;
        }
        .container-normas .container-norma-pai{
            .container-botao-control{
                p{
                    font-size: 18px;
                }
                img{
                    width: 20px;
                    height: 20px;
                }
            }
            .container-norma .container-descricao{
                h1{
                    font-size: 25px;
                }
                p{
                    font-size: 15px;
                }
            }
            .container-conteudo-card-pai .container-conteudo .container-cards{
                .container-vazio p{
                    font-size: 20px;
                }
                .container-card-pai .container-card{
                    h1{
                        font-size: 20px;
                    }
                    p{
                        font-size: 15px;
                    }
                }
            }
        }
    }
    .container-produtos-pai .container-padrao{
        .titulo{
            font-size: 35px;
        }
        .container-produtos .container-produto .container-conteudo-pai .container-conteudo{
            h1{
                font-size: 20px;
            }
            p{
                font-size: 15px;
            }
        }
    }
}
@media(max-width: 1000px){
    .container-normas-pai .container-padrao{
        h1{
            font-size: 30px;
        }
        .container-normas .container-norma-pai{
            .container-norma{
                .container-imagem{
                    width: 115px;
                    min-width 110px;
                    height: 105px;
                    img{
                        width: 75px;
                        height: 75px;
                    }
                }
                .container-descricao{
                    h1{
                        font-size: 20px;
                    }
                    p{
                        font-size: 14px;
                    }
                }
            }
            .container-conteudo-card-pai .container-conteudo .container-cards{
                justify-content: space-evenly;
                .container-card-pai{
                    width 30%;
                    .container-card{
                        h1{
                            font-size: 18px;
                        }
                        p{
                            font-size: 14px;
                        }
                    }
                }
            }
        }
    }
    .container-produtos-pai .container-padrao{
        .titulo{
            font-size: 30px;
        }
        .container-produtos .container-produto .container-conteudo-pai{
            .container-background-botao .botao a{
                font-size: 18px;
                padding 10px 20px;
            }
            .container-conteudo{
                h1{
                    font-size: 18px;
                }
                p{
                    font-size: 14px;
                }
            }
        }
    }
}
@media(max-width: 768px){
    .container-normas-pai .container-padrao{
        h1{
            font-size: 25px;
        }
        .container-normas .container-norma-pai{
            .container-botao-control{
                margin 30px auto 0;
                p{
                    font-size: 16px;
                }
            }
            .container-norma{
                flex-direction: column;
                .container-imagem{
                    margin 80px auto 0;
                }
                .container-descricao h1{
                    font-size: 18px;
                    margin-top 50px;
                }
            }
            .container-conteudo-card-pai{
                .container-conteudo .container-cards .container-card-pai{
                    width 45%;
                    .container-card{
                        padding: 18px;
                        h1{
                            font-size: 16px;
                        }
                    }
                }
                &::-webkit-scrollbar {
                    width: 35px;
                }
            }
        }
    }
    .container-produtos-pai .container-padrao{
        .titulo{
            font-size: 25px;
        }
        .container-produtos .container-produto{
            width 100%;
            .container-conteudo-pai .container-background-botao .botao a{
                font-size: 16px;
            }
            &.ultimo .container-conteudo-pai .container-conteudo{
                width: 479px;
            }
        }
    }
}
@media(max-width: 500px){
    .container-normas-pai .container-padrao{
        h1{
            font-size: 20px;
        }
        .container-normas .container-norma-pai{
            .container-botao-control p{
                font-size: 14px;
            }
            .container-conteudo-card-pai{
                .container-conteudo .container-cards .container-card-pai{
                    width 94%;
                }
                &::-webkit-scrollbar {
                    width: 30px;
                }
            }
        }
    }
}