.container-breadcrumb{
    width 100%;
    max-width 100%;
    padding:16px 0;
    .container-padrao{
        display flex;
        align-items: center;
        .home{
            width: 15px;
            height: 15px;
            margin-right: 14px;
        }
        .arrow{
            margin-right: 14px;
            height : 10px;
        }
        a{
            font-family: Libre Franklin;
            font-size: 14px;
            font-weight: 500;
            line-height: 1.21;
            letter-spacing: 0.56px;
            color: #727376;
        }
    }
}
.container-produtos-pai{
    width 100%;
    max-width 100%;
    margin-top 80px;
    .container-padrao{
        h1{
            font-family: Libre Franklin;
            font-size: 22px;
            font-weight: bold;
            line-height: 1.18;
            letter-spacing: 0.88px;
            color: #727376;
        }
        .container-produtos{
            width 100%;
            max-width 100%;
            margin-top 40px;
            #nao-tem-produto{
                text-align: center;
                font-size: 20px;
                font-family: Libre Franklin;
                margin-top 50px;
                font-weight: bold;
            }
            .container-produto{
                width 100%;
                max-width 100%;
                display flex;
                margin-top 50px;
                .container-info-pai{
                    width 50%;
                    max-width 100%;
                    display flex;
                    .container-imagem{
                        width: 159.2px;
                        height: 170.9px;
                        img{
                            border-radius: 3px;         
                            box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
                            width 100%;
                            height 100%;
                            object-fit: cover;    
                        }
                    }
                    .container-info{
                        display flex;
                        width: 359px;
                        flex-direction: column;
                        justify-content: center;
                        padding-left: 40px;
                        h1{
                            font-family: Libre Franklin;
                            font-size: 20px;
                            font-weight: 600;
                            line-height: 1.4;
                            color: #ff3d00;
                            margin-bottom: 10px;
                        }
                        p{
                            font-family: Libre Franklin;
                            font-size: 17px;
                            font-weight: bold;
                            line-height: 2;
                            color: #4b4b4d;
                        }
                    }
                }
                .container-quantidade-pai{
                    width 50%;
                    max-width 100%;
                    display flex;
                    align-items: center;
                    .container-quantidade{
                        width 50%;
                        max-width 100%;
                        display flex;
                        justify-content: center;
                        align-items: center;
                        p{
                            font-family: Libre Franklin;
                            font-size: 14px;
                            font-weight: 500;
                            line-height: 1.21;
                            letter-spacing: 0.56px;
                            color: #9f9f9f;
                            margin-right: 40px;
                        }
                        .quantidade-produto {
                            width: 140px;
                            height: 49px;
                            border-radius: 3px;
                            background-color: #000000;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            max-width 100%;
                            min-width 130px;
                            margin-top 12px;
                            input {
                                border: none;
                                font-family: Libre Franklin;
                                font-size: 22px;
                                font-weight: 600;
                                line-height: 1.18;
                                color: #ffffff;
                                width: 50%;
                                text-align: center;
                                background: none;
                            }
                            button {
                                font-family: Libre Franklin;
                                display: flex;
                                align-items: center;
                                justify-content: center;
                                height: 25px;
                                border none;
                                cursor pointer;
                                color #ff3d00;
                                width 25%;
                                background: none;
                                font-size: 32px;
                            }
                        }
                    }
                    .container-remove{
                        width 50%;
                        max-width 100%;
                        display flex;
                        justify-content: flex-end;
                        .container-remove-image{
                            width: 26px;
                            height: 30px;
                            cursor pointer;
                            img{
                                width 100%;
                            }
                        }
                    }
                }
            }
        }
    }
}
.container-formulario-veja{
    width: 100%;
    max-width 100%;
    position relative;
    display flex;
    flex-direction: column;
    justify-content: center;
    padding-bottom: 160px;
    .container-background{
        width: 100%;
        position: absolute;
        height: 80%;
        max-height: 1300px;
        max-width: 100%;
        z-index: -1;
        img{
            width 100%;
            height 100%;
        }
    }
    .container-formulario-pai{
        width 100%;
        max-width 100%;
        margin-top 170px;
        .container-padrao{
            display flex;
            justify-content: center;
            .container-formulario{
                width: 897.6px;
                box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
                border: solid 1px #ffffff;
                background-color: #ffffff;
                padding: 70px 20px 60px;
                display flex;
                flex-direction: column;
                align-items: center;
                max-width 100%;
                h1{
                    font-family: Libre Franklin;
                    font-size: 35px;
                    font-weight: bold;
                    line-height: 1.23;
                    letter-spacing: 1.4px;
                    text-align: center;
                    color: #4b4b4d;
                }
                form{
                    width: 580px;
                    max-width 100%;
                    p{
                        font-family: Libre Franklin;
                        font-size: 18px;
                        font-weight: 500;
                        line-height: 1.5;
                        color: #4b4b4d;
                        margin-top 40px;
                    }
                    input{
                        width 100%;
                        max-width 100%;
                        height: 53px;
                        border-radius: 3px;
                        border: solid 1px #ff3d00;
                        margin-top 6px;
                        font-family: Libre Franklin;
                        font-size: 16px;
                        font-weight: 500;
                        line-height: 1.69;
                        color: #4b4b4d;
                        padding-left: 20px;
                        &::placeholder{
                            font-family: Libre Franklin;
                            font-size: 16px;
                            font-weight: 500;
                            line-height: 1.69;
                            color: #4b4b4d;
                        }
                    }
                    textarea{
                        width 100%;
                        height: 119px;
                        border-radius: 3px;
                        border: solid 1px #ff3d00;
                        margin-top 6px;
                        font-family: Libre Franklin;
                        font-size: 16px;
                        font-weight: 500;
                        line-height: 1.69;
                        color: #4b4b4d;
                        padding: 20px 0 0 20px;
                        &::placeholder{
                            font-family: Libre Franklin;
                            font-size: 16px;
                            font-weight: 500;
                            line-height: 1.69;
                            color: #4b4b4d;
                        }
                    }
                    .container-retirada{
                        display: flex;
                        align-items: center;
                        margin-top: 30px;
                        input{
                            width: 20px;
                            filter: hue-rotate(-200deg);
                            height: 20px;
                            margin: 0 15px 0 0;
                        }
                        label{
                            font-family: Libre Franklin;
                            font-size: 18px;
                            font-weight: 500;
                            line-height: 1.5;
                            color: #4b4b4d;
                            margin-top 0;
                        }
                    }
                    .container-botoes{
                        width 100%;
                        max-width 100%;
                        display flex;
                        align-items: center;
                        margin-top 50px;
                        justify-content: center;
                        flex-wrap: wrap;
                        a{
                            width: 50%;
                            max-width 100%;
                            display flex;
                            align-items: center;
                            font-family: Libre Franklin;
                            font-size: 18px;
                            font-weight: 600;
                            line-height: 1.67;
                            letter-spacing: 0.72px;
                            color: #ff3d00;
                            img{
                                width: 26px;
                                height: 30px;
                                margin-right: 20px;
                            }
                        }
                        button{
                            border-radius: 3px;
                            background-color: #ff3d00;
                            width: 50%;
                            max-width 100%;
                            display flex;
                            justify-content: center;
                            padding: 23px;
                            font-family: Libre Franklin;
                            font-size: 20px;
                            font-weight: 600;
                            line-height: 1.5;
                            letter-spacing: 0.8px;
                            text-align: center;
                            color: #ffffff;
                            cursor pointer;
                        }
                        p{
                            border-radius: 3px;
                            width: fit-content;
                            max-width 100%;
                            display flex;
                            padding: 18px;
                            font-family: Libre Franklin;
                            font-size: 16px;
                            font-weight: 600;
                            line-height: 1.5;
                            letter-spacing: 0.8px;
                            text-align: center;
                            color: #ffffff;
                            cursor pointer;
                            font-size: 16px;
                            background-color: #23bd67;
                            margin 20px 0 10px;
                            align-items: center;
                            img{
                                margin-right: 10px;
                                width: 25px;
                            }
                        }
                    }
                    .container-formulario-response{
                        position: fixed;
                        width: 100vw;
                        max-width 100%;
                        height: 100vh;
                        background-color: rgba(0, 0, 0, 0.9);
                        top: 0;
                        left: 0;
                        z-index: 5;
                        display none;
                        align-items: center;
                        justify-content: center;
                        &.success{
                            display flex;
                        }
                        .container-response{
                            padding: 10px;
                            max-width 100%;
                            .container-conteudo{
                                width: 898px;
                                max-width 100%;
                                height: 416px;
                                border-radius: 3px;
                                background-color: #ffffff;
                                padding: 50px 50px 40px;
                                display flex;
                                flex-direction: column;
                                align-items: center;
                                position relative;
                                .container-cancelar{
                                    position absolute;
                                    top: 16px;
                                    right 16px;
                                    width: 16px;
                                    height: 16px;
                                    cursor pointer;
                                    img{
                                        width: 16px;
                                        height: 16px;
                                    }
                                }
                                img{
                                    width: 57px;
                                    height: 57px;
                                }
                                h1{
                                    font-family: Libre Franklin;
                                    font-size: 40px;
                                    font-weight: bold;
                                    line-height: 1.23;
                                    letter-spacing: 1.6px;
                                    text-align: center;
                                    color: #ff3d00;
                                    margin-top 30px;
                                }
                                p{
                                    font-family: Libre Franklin;
                                    font-size: 30px;
                                    font-weight: bold;
                                    line-height: 1.2;
                                    letter-spacing: 1.2px;
                                    text-align: center;
                                    color: #4b4b4d;
                                    margin-top 36px;
                                }
                                a{
                                    font-family: Libre Franklin;
                                    font-size: 18px;
                                    font-weight: 600;
                                    line-height: 1.67;
                                    letter-spacing: 0.72px;
                                    color: #ff3d00;
                                    display: flex;
                                    align-items: center;
                                    margin-top 30px;
                                    img{
                                        width: 26px;
                                        height: 30px;
                                        margin-right: 20px;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
    .container-veja-tambem{
        width 100%;
        max-width 100%;
        margin-top 400px;
        .container-padrao{
            display flex;
            flex-direction: column;
            align-items: center;
            overflow: hidden;
            .titulo{
                font-family: Libre Franklin;
                font-size: 40px;
                font-weight: bold;
                line-height: 1.23;
                letter-spacing: 1.6px;
                color: #000000;
                position:relative;
                text-align: center;
                text-transform: uppercase;
                &:after{
                    content: "";
                    position: absolute;
                    top: 50%;
                    margin-left: 20px;
                    height: 3px;
                    width: 1000%;
                    border-top: solid 3px #ff3d00;
                }
                &:before{
                    content: "";
                    position: absolute;
                    top: 50%;
                    margin-right: 20px;
                    right: 100%;
                    height: 3px;
                    width: 1000%;
                    border-top: solid 3px #ff3d00;
                }
            }
            .container-produtos{
                width: 100%;
                max-width 100%;
                display flex;
                justify-content: space-evenly;
                flex-wrap: wrap;
                margin-top 60px;
                a{
                    width 252px;
                    .container-produto{
                        max-width 100%;
                        display flex;
                        align-items: center;
                        margin-top: 100px;
                        .container-imagem{
                            width: 75px;
                            min-width: 80px;
                            img{
                                width 100%;
                            }
                        }
                        .container-conteudo{
                            max-width: 100%;
                            padding: 0 0 0 20px;
                            display: flex;
                            h1{
                                font-family: Libre Franklin;
                                font-size: 25px;
                                font-weight: 600;
                                line-height: 1.2;
                                letter-spacing: 1px;
                                color: #4b4b4d;
                                position relative;
                                padding-bottom: 5px;
                                transition: all .3s;
                                &:before {
                                    content : "";
                                    position: absolute;
                                    left    : 0;
                                    bottom  : 0;
                                    height  : 2px;
                                    width   : 50px;
                                    border-bottom:2px solid #ff3d00;
                                }
                            }
                        }
                    }
                    &:hover{
                        .container-produto .container-conteudo h1{
                            color: #ff3d00;
                        }
                    }
                }
            }
        }
    }
}
@media(max-width: 1400px){
    .container-produtos-pai .container-padrao{
        h1{
            font-size: 20px;
        }
        .container-produtos .container-produto .container-info-pai{
            .container-imagem{
                width: 155px;
                height: 165px;
            }
            .container-info{
                h1{
                    font-size: 18px;
                }
                p{
                    font-size: 16px;
                }
            }
        }
    }
    .container-formulario-veja{
        .container-formulario-pai{
            .container-padrao{
                .container-formulario{
                    h1{
                        font-size: 30px;
                    }
                    form{
                        p{
                            font-size: 16px;
                        }
                        input{
                            font-size: 15px;
                            &::placeholder{
                                font-size: 15px;
                            }
                        }
                        textarea{
                            font-size: 15px;
                            &::placeholder{
                                font-size: 15px;
                            }
                        }
                        .container-botoes{
                            a{
                                font-size: 16px;
                            }
                            button{
                                font-size: 18px;
                            }
                        }
                        .container-formulario-response .container-response .container-conteudo{
                            h1{
                                font-size: 35px;
                            }
                            p{
                                font-size: 25px;
                            }
                            a{
                                font-size: 16px;
                                img{
                                    width: 22px;
                                    height: 22px;
                                }
                            }
                        }
                    }
                }
            }
        }
        .container-veja-tambem .container-padrao{
            .titulo{
                font-size: 35px;
            }
            .container-produtos a .container-produto{
                .container-imagem{
                    width: 60px;
                    min-width: 60px;
                }
                .container-conteudo h1{
                    font-size: 20px;
                }
            }
        }
    }
}
@media(max-width: 1000px){
    .container-produtos-pai .container-padrao .container-produtos .container-produto{
        .container-info-pai{
            width 60%;
        }
        .container-quantidade-pai{
            width 40%;
            .container-quantidade{
                width 60%;
            }
            .container-remove{
                width 40%;
            }
        }
    }
    .container-formulario-veja{
        .container-background{
            height: 100%;
            max-height: 100%;
            display flex;
            align-items: center;
            img{
                height fit-content;
                object-fit: cover;
            }
        }
        .container-formulario-pai .container-padrao .container-formulario{
            h1{
                font-size: 25px;
            }
            form{
                p{
                    font-size: 14px;
                }
                .container-botoes{
                    a{
                        font-size: 16px;
                        img {
                            width: 20px;
                            height: 20px;
                        }
                    }
                    button{
                        font-size: 16px;
                        padding: 16px;
                    }
                    p{
                        font-size: 14px;
                        padding: 16px;
                    }
                }
                .container-formulario-response .container-response .container-conteudo{
                    width: 700px;
                    height: 350px;
                    img{
                        width: 45px;
                        height: 45px;
                    }
                    h1{
                        font-size: 30px;
                    }
                    p{
                        font-size: 22px;
                    }
                }
            }
        }
        .container-veja-tambem .container-padrao{
            .titulo{
                font-size: 30px;
            }
            .container-produtos a{
                width: 200px;
                margin-top 50px;
                .container-produto .container-conteudo h1{
                    font-size: 18px;
                }
            }
        }
    }
}
@media(max-width: 768px){
    .container-produtos-pai .container-padrao{
        h1{
            font-size: 18px;
        }
        .container-produtos .container-produto{
            width: 420px;
            margin 60px auto 0;
            flex-direction: column;
            .container-info-pai{
                width 570px;
                .container-imagem{
                    width: 130px;
                    height: 130px;
                    min-width 100px;
                }
                .container-info{
                    padding-left 15px;
                    h1{
                        font-size: 16px;
                    }
                    p{
                        font-size: 14px;
                    }
                }
            }
            .container-quantidade-pai{
                width 570px;
                margin-top 20px;
                .container-quantidade{
                    p{
                        margin-right: 25px;
                    }
                    .quantidade-produto {
                        width: 120px;
                        min-width: 120px;
                        margin-top 0px;
                        input {
                            font-size: 16px;
                        }
                    }
                }
                .container-remove{
                    justify-content: center;
                    .container-remove-image{
                        width: 20px;
                        height: 20px;
                    }
                }
            }
        }
    }
    .container-formulario-veja{
        .container-formulario-pai .container-padrao .container-formulario{
            h1{
                font-size: 22px;
            }
            form{
                .container-botoes{
                    flex-direction: column-reverse;
                    a{
                        margin-top 15px;
                        font-size: 14px;
                        width fit-content;
                        justify-content: center;
                    }
                    button{
                        width: 250px;
                    }
                }
                .container-formulario-response .container-response .container-conteudo{
                    width: 550px;
                    height: fit-content;
                    img{
                        width: 40px;
                        height: 40px;
                    }
                    h1{
                        font-size: 25px;
                        margin-top: 20px;
                    }
                    p{
                        font-size: 18px;
                        margin-top: 22px;
                    }
                }
            }
        }
    }
}
@media(max-width: 500px){
    .container-produtos-pai .container-padrao .container-produtos .container-produto{
        .container-info-pai .container-imagem{
            width: 100px;
            height: 100px;
        }
        .container-quantidade-pai .container-quantidade{
            p{
                margin-right: 25px;
            }
            .quantidade-produto {
                width: 110px;
                min-width: 110px;
                height: 40px;
            }
        }
    }
    .container-formulario-veja{
        .container-background{
            align-items: flex-start;
        }
        .container-formulario-pai{
            .container-padrao .container-formulario{
                h1{
                    font-size: 20px;
                }
                form .container-formulario-response .container-response .container-conteudo{
                    width: 550px;
                    padding: 50px 18px 40px;
                    img{
                        width: 35px;
                        height: 35px;
                    }
                    h1{
                        font-size: 18px;
                    }
                    p{
                        font-size: 16px;
                    }
                }
            }
        }
        .container-veja-tambem{
            margin-top 200px;
        }
    }
}