.container-breadcrumb{
    width 100%;
    max-width 100%;
    padding:16px 0;
    .container-padrao{
        display flex;
        align-items: center;
        .home{
            width: 15px;
            height: 15px;
            margin-right: 14px;
        }
        .arrow{
            margin-right: 14px;
            height : 10px;
        }
        a{
            font-family: Libre Franklin;
            font-size: 14px;
            font-weight: 500;
            line-height: 1.21;
            letter-spacing: 0.56px;
            color: #727376;
        }
    }
}
.container-download{
    width 100%;
    max-width 100%;
    .container-padrao{
        display flex; 
        a{
            max-width 100%;
            border-radius: 3px;
            background-color: #ff3d00;
            margin-top 20px;
            font-family: Libre Franklin;
            font-size: 16px;
            font-weight: 600;
            line-height: 1.16;
            letter-spacing: 1px;
            color: #ffffff;
            padding: 14px 18px;
            &:hover {
                filter: brightness(.95);
            }
        }
    }
}
.container-produtos-categorias-pai{
    width 100%;
    max-width 100%;
    margin-top: 20px;
    .container-padrao{
        display flex;
        align-items: center;
        flex-direction: column;
        .container-categorias-pai{
            width 100%;
            max-width 100%;
            margin-top: 60px;
            .container-categorias{
                width 100%;
                max-width 100%;
                display: flex;
                justify-content: space-between;
                flex-wrap: wrap;
                a{
                    margin-top: 20px;
                    font-family: Libre Franklin;
                    font-size: 18px;
                    font-weight: 500;
                    line-height: 1.17;
                    letter-spacing: 0.72px;
                    color: #4b4b4d;
                    cursor pointer;
                    transition: all .3s;
                    position relative;
                    padding-bottom: 5px;
                    &:before {
                        content : "";
                        position: absolute;
                        left    : 0;
                        bottom  : 0;
                        height  : 2px;
                        width   : 0px;
                        border-bottom:2px solid #ff3d00;
                        transition: all .3s;
                    }
                    &:hover{
                        color: #ff3d00;
                    }
                    &.ativo{
                        color: #ff3d00;
                        &:before {
                            width   : 30px;
                        }
                    }
                }
            }
        }
        .container-categorias-filhas-pai{
            width 100%;
            max-width 100%;
            overflow hidden;
            margin-top: 60px;
            .container-categorias-filhas-slide{
                width 100%
                max-width: 100%;
                max-height: 100%;
                overflow hidden;
                .container-categorias-filhas{
                    width: 100%;
                    max-width 100%;
                    padding: 0 30px;
                    .slick-arrow{
                        width 25px;
                        height 25px;
                        background: no-repeat;
                        &::before{
                            display none;
                        }
                        &.slick-prev{
                            left: 0;
                            background-image: url(../../img/orange-prev-arrow.svg);
                        }
                        &.slick-next{
                            right 0;
                            background-image: url(../../img/orange-next-arrow.svg);
                        }
                        &:hover{
                            filter: brightness(0.95)
                        }
                    }
                    .slick-list{
                        width: 100%;
                        margin: 0 auto;
                    }
                    .container-categoria-filha-pai{
                        width 220px;
                        max-width 100%;
                        padding: 14px
                        a .container-categoria-filha{
                            width 100%;
                            border-radius: 3px;
                            padding: 30px 0;
                            max-width 100%;
                            display: flex;
                            align-items: center;
                            flex-direction: column;
                            cursor: pointer;
                            border: solid 1px #fff;
                            background-color: #fff;
                            img{
                                height 88px;
                            }
                            h1{
                                font-family: Libre Franklin;
                                font-size: 20px;
                                font-weight: 600;
                                line-height: 1.2;
                                letter-spacing: .8px;
                                color: #4b4b4d;
                                margin: 30px 0 0 0;
                                padding: 0 10px;
                                text-align: center;
                            }
                            &:hover{
                                box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
                            }
                            &.ativo{
                                box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
                            }
                        }
                    }
                }
            }
        }
    }
}
.container-produtos-pai{
    width 100%;
    max-width 100%;
    .container-padrao{
        width 954px;
        .container-produto-pai{
            width 100%;
            max-width 100%;
            margin-top: 90px;
            span{
                font-family: Libre Franklin;
                font-size: 14px;
                font-weight: 500;
                line-height: 1.21;
                letter-spacing: 0.56px;
                color: #9f9f9f;
            }
            h1{
                font-family: Libre Franklin;
                font-size: 30px;
                font-weight: bold;
                line-height: 1.1;
                color: #ff3d00;
            }
            p{
                font-family: Libre Franklin;
                font-size: 18px;
                font-weight: 500;
                line-height: 1.39;
                color: #4b4b4d;
                margin-top 10px;
            }
            .container-produto{
                display flex;
                justify-content: space-between;
                width 100%;
                margin-top 45px;
                .container-imagem{
                    width: 33%;
                    height: 323px;
                    height: 323px;
                    border-radius: 3px;
                    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
                    max-width: 100%;
                    img{
                        height: 100%;
                        width: 100%;
                        max-height: 323px;
                        object-fit: cover;
                    }
                }
                .container-info{
                    width 60%;
                    max-width 100%;
                    .container-medidas-pai{
                        display flex;
                        width 100%;
                        justify-content: space-between;
                        flex-wrap: wrap;
                        .container-especial-pai-titulo{
                            width 50%;
                            max-width: 100%;
                            p{
                                font-family: Libre Franklin;
                                font-size: 14px;
                                font-weight: 500;
                                line-height: 1.21;
                                letter-spacing: 0.56px;
                                color: #9f9f9f;
                            }   
                            .container-especial-pai{
                                width 100%
                                margin-top 10px;
                                max-width 100%;
                                input{
                                    width 100%;
                                    max-width 100%;
                                    border-radius: 3px;
                                    border: solid 1px #ff3d00;
                                    font-family: Libre Franklin;
                                    font-size: 14px;
                                    font-weight: 500;
                                    line-height: 1.21;
                                    letter-spacing: 0.56px;
                                    color: #9f9f9f;
                                    padding: 11px 32px;
                                    &::placeholder{
                                        font-family: Libre Franklin;
                                        font-size: 14px;
                                        font-weight: 500;
                                        line-height: 1.21;
                                        letter-spacing: 0.56px;
                                        color: #9f9f9f;
                                    }
                                }
                            }
                        }
                        .container-especial-filho-titulo{
                            width 45%;
                            max-width: 100%;
                            p{
                                font-family: Libre Franklin;
                                font-size: 14px;
                                font-weight: 500;
                                line-height: 1.21;
                                letter-spacing: 0.56px;
                                color: #9f9f9f;
                            }   
                            .container-especial-filho{
                                margin-top 10px;
                                width 100%;
                                max-width 100%;
                                input{
                                    width 100%;
                                    max-width 100%;
                                    border-radius: 3px;
                                    border: solid 1px #ff3d00;
                                    font-family: Libre Franklin;
                                    font-size: 14px;
                                    font-weight: 500;
                                    line-height: 1.21;
                                    letter-spacing: 0.56px;
                                    color: #9f9f9f;
                                    padding: 11px 32px;
                                    &::placeholder{
                                        font-family: Libre Franklin;
                                        font-size: 14px;
                                        font-weight: 500;
                                        line-height: 1.21;
                                        letter-spacing: 0.56px;
                                        color: #9f9f9f;
                                    }
                                }
                            }
                        }
                        .container-seletor-pai-titulo{
                            width 50%;
                            p{
                                font-family: Libre Franklin;
                                font-size: 14px;
                                font-weight: 500;
                                line-height: 1.21;
                                letter-spacing: 0.56px;
                                color: #9f9f9f;
                            }       
                            .container-seletor-pai{
                                border-radius: 3px;
                                background-color: #000000;
                                height: fit-content;
                                display: flex;
                                justify-content: center;
                                margin-top 10px;
                                .container-seletor{
                                    width: 300px;
                                    height: fit-content;
                                    border-radius: 3px;
                                    background-color: #000000;
                                    position relative;
                                    .container-selected{
                                        width: 100%;
                                        height: fit-content;
                                        display: flex;
                                        justify-content: space-between;
                                        align-items: center;
                                        padding: 11px 32px;
                                        cursor: pointer;
                                        border-radius: 6px;
                                        p{
                                            font-family: Libre Franklin;
                                            font-size: 16px;
                                            font-weight: 600;
                                            line-height: 1.25;
                                            letter-spacing: 0.64px;
                                            color: #ffffff;
                                        }
                                        img{
                                            width: 15px;
                                            height: 13px;
                                            transition: all .8s;
                                            &.dropdown-ativo{
                                                transform: rotate(-180deg);
                                            }
                                        }
                                    }
                                    .container-options{
                                        width: 100%;
                                        max-height: 0;
                                        transition: all .4s;
                                        position absolute;
                                        z-index 5;
                                        overflow-y: scroll;
                                        .option{
                                            cursor: pointer;
                                            padding: 0 32px;
                                            height: 44px;
                                            width: 100%;
                                            display: flex;
                                            align-items: center;
                                            font-family: Libre Franklin;
                                            font-size: 16px;
                                            font-weight: 600;
                                            line-height: 1.25;
                                            letter-spacing: 0.64px;
                                            color: #ffffff;
                                            transition all .3s;
                                            background-color: #000000;
                                            &:hover{
                                                filter: invert(1);
                                            }
                                        }
                                        &.dropdown-ativo{
                                            max-height: 350px;
                                        }
                                        &::-webkit-scrollbar {
                                            border-radius: 3px;
                                            width: 15px;
                                            margin-left: 5px;
                                        }
                                        &::-webkit-scrollbar-track {
                                            border-radius: 3px;
                                            background: #ffffff;
                                        }
                                        &::-webkit-scrollbar-thumb {
                                            border-radius: 8px;
                                            border: solid 3px white;
                                            background-color: #000000;
                                        }
                                    }
                                }
                            }
                        }
                        .container-medidas{
                            max-width 100%;
                            width: 45%;
                            display none;
                            .container-seletor-filho-pai{
                                p{
                                    font-family: Libre Franklin;
                                    font-size: 14px;
                                    font-weight: 500;
                                    line-height: 1.21;
                                    letter-spacing: 0.56px;
                                    color: #9f9f9f;
                                }
                                .container-seletor-filho{
                                    width: 100%;
                                    border-radius: 3px;
                                    background-color: #000000;
                                    display: flex;
                                    height: fit-content;
                                    justify-content: center;
                                    margin-top 10px;
                                    .container-seletor{
                                        width: 300px;
                                        height: fit-content;
                                        border-radius: 3px;
                                        background-color: #000000;
                                        position relative;
                                        .container-selected{
                                            width: 100%;
                                            height: fit-content;
                                            display: flex;
                                            justify-content: space-between;
                                            align-items: center;
                                            padding: 11px 32px;
                                            cursor: pointer;
                                            border-radius: 6px;
                                            p{
                                                font-family: Libre Franklin;
                                                font-size: 16px;
                                                font-weight: 600;
                                                line-height: 1.25;
                                                letter-spacing: 0.64px;
                                                color: #ffffff;
                                            }
                                            img{
                                                width: 15px;
                                                height: 13px;
                                                transition: all .8s;
                                                &.dropdown-ativo{
                                                    transform: rotate(-180deg);
                                                }
                                            }
                                        }
                                        .container-options{
                                            width: 100%;
                                            max-height: 0;
                                            overflow: hidden;
                                            transition: all .4s;
                                            position absolute;
                                            z-index 5;
                                            overflow-y: scroll;
                                            .option-pai{
                                                .option{
                                                    cursor: pointer;
                                                    padding: 0 32px;
                                                    height: 44px;
                                                    width: 100%;
                                                    display: flex;
                                                    align-items: center;
                                                    font-family: Libre Franklin;
                                                    font-size: 16px;
                                                    font-weight: 600;
                                                    line-height: 1.25;
                                                    letter-spacing: 0.64px;
                                                    color: #ffffff;
                                                    transition all .3s;
                                                    background-color: #000000;
                                                    &:hover{
                                                        filter: invert(1);
                                                    }
                                                }
                                            }
                                            &.dropdown-ativo{
                                            max-height: 350px;
                                            }
                                            &::-webkit-scrollbar {
                                                border-radius: 3px;
                                                width: 15px;
                                                margin-left: 5px;
                                            }
                                            &::-webkit-scrollbar-track {
                                                border-radius: 3px;
                                                background: #ffffff;
                                            }
                                            &::-webkit-scrollbar-thumb {
                                                border-radius: 8px;
                                                border: solid 3px white;
                                                background-color: #000000;
                                            }
                                        }
                                    }
                                }
                            }
                            &.ativo{
                                display block;
                            }
                        }
                    }
                    .container-quantidade-pai{
                        width: 130px;
                        max-width 100%;
                        margin-top: 20px;
                        p{
                            font-family: Libre Franklin;
                            font-size: 14px;
                            font-weight: 500;
                            line-height: 1.21;
                            letter-spacing: 0.56px;
                            color: #9f9f9f;
                        }
                        .quantidade-produto {
                            width: 100%;
                            height: 49px;
                            border-radius: 3px;
                            background-color: #000000;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            max-width 100%;
                            min-width 85px;
                            margin-top 12px;
                            input {
                                border: none;
                                font-family: Libre Franklin;
                                font-size: 22px;
                                font-weight: 600;
                                line-height: 1.18;
                                color: #ffffff;
                                width: 50%;
                                text-align: center;
                                background: none;
                                appearance none;
                            }
                            button {
                                font-family: Libre Franklin;
                                display: flex;
                                align-items: center;
                                justify-content: center;
                                height: 25px;
                                border none;
                                cursor pointer;
                                color #ff3d00;
                                width 25%;
                                background: none;
                                font-size: 32px;
                                appearance none;
                            }
                        }
                    }
                    .container-adicionar{
                        width 100%;
                        max-width 100%;
                        border-radius: 3px;
                        background-color: #ff3d00;
                        display: flex;
                        margin-top 20px;
                        a{
                            font-family: Libre Franklin;
                            font-size: 25px;
                            font-weight: 600;
                            line-height: 1.16;
                            letter-spacing: 1px;
                            text-align: center;
                            color: #ffffff;
                            padding: 14px 0;
                            width 100%;
                        }
                    }
                    .container-cartao{
                        display flex;
                        width 350px;
                        max-width 100%;
                        margin-top 30px;
                        align-items: center;
                        img{
                            width: 50px;
                            height: 40px;
                            margin-right: 14px;
                        }
                        p{
                            font-family: Libre Franklin;
                            font-size: 16px;
                            font-weight: 600;
                            font-stretch: normal;
                            font-style: normal;
                            line-height: 1.31;
                            letter-spacing: normal;
                            text-align: left;
                            color: #4b4b4d;
                            margin 0;
                        }
                    }
                }
            }
        }
    }
}
.container-paginacao{
    width: 954px;
    margin 100px auto 0;
    max-width 100%;
    display: flex;
    justify-content: flex-end;
    padding: 0 18px;
    .paginacao{
        width 80%;
        max-width 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        a{  
            display: flex;
            justify-content: center;
            align-items: center;
            width: 43px;
            height: 43px;
            border-radius: 22px;
            font-family: Libre Franklin;
            font-size: 15px;
            font-weight: bold;
            font-stretch: normal;
            font-style: normal;
            line-height: 1.53;
            letter-spacing: normal;
            text-align: left;
            color: #000000;
            margin-right 15px;
        }
        span{
            margin-right 15px
            display: flex;
            justify-content: center;
            align-items: center;
            width: 43px;
            height: 43px;
            border-radius: 22px;
            background-color: #ff3d00;
            font-family: Libre Franklin;
            font-size: 15px;
            font-weight: bold;
            font-stretch: normal;
            font-style: normal;
            line-height: 1.53;
            letter-spacing: normal;
            text-align: left;
            color: #ffffff;
        }
        .next, .prev{
            width: 31px;
            height: 31px;
            border-radius: 22px;
            background-color: #000000;
            color: #ffffff;
            border solid 1px #000000;
        } 
    }
}
.container-produtos-info{
    width 100%;
    max-width 100%;
    margin: 150px 0;
    .container-padrao{
        display flex;
        align-items: center;
        flex-direction: column;
        overflow hidden;
        h1{
            font-family: Libre Franklin;
            font-size: 40px;
            font-weight: bold;
            line-height: 1.23;
            letter-spacing: 1.6px;
            color: #000000;
            position:relative;
            text-align: center;
            text-transform: uppercase;
            &:after{
                content: "";
                position: absolute;
                top: 50%;
                margin-left: 20px;
                left 100%;
                height: 3px;
                width: 1000%;
                border-top: solid 3px #ff3d00;
            }
            &:before{
                content: "";
                position: absolute;
                top: 50%;
                margin-right: 20px;
                right: 100%;
                height: 3px;
                width: 1000%;
                border-top: solid 3px #ff3d00;
            }
        }
        .container-conteudo{
            width: 100%;
            max-width 100%;
            margin-top 80px;
            p{
                font-family: Libre Franklin;
                font-size: 22px;
                font-weight: 500;
                line-height: 1.5;
                text-align: center;
                color: #4b4b4d;
            }
        }
    }
}
.container-response-pai{
    position fixed;
    width: 100%;
    max-width: 100%;
    z-index 10;
    bottom: 100px;
    transform: translateY(100px);
    transition opacity .3s, transform .3s;
    opacity 0;
    max-height: 0px;
    &.success{
        transform: translateY(0px);
        opacity 1;
        max-height: 100%;
    }
    .container-padrao{
        display flex;
        justify-content: flex-end;
        .container-conteudo{
            width: 581px;
            height: 225px;
            max-width: 100%;
            border-radius: 5px;
            box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
            background-color: #000000;
            padding: 45px;
            .container-response{
                width 100%;
                max-width 100%;
                display flex;
                align-items: center;
                img{
                    width: 57px;
                    height: 57px;
                    margin-right: 20px;
                }
                h1{
                    font-family: Libre Franklin;
                    font-size: 20px;
                    font-weight: 600;
                    line-height: 1.2;
                    letter-spacing: 0.8px;
                    color: #ffffff;
                }
            }    
            .container-botoes{
                display flex;
                width: 100%;
                max-width 100%;
                align-items: center;
                margin-top 40px;
                p{
                    font-family: Libre Franklin;
                    font-size: 18px;
                    font-weight: 600;
                    line-height: 1.17;
                    letter-spacing: 0.72px;
                    color: #ffffff;
                    margin-right: 20px
                    cursor pointer;
                }
                a{
                    font-family: Libre Franklin;
                    font-size: 18px;
                    font-weight: 600;
                    font-stretch: normal;
                    font-style: normal;
                    line-height: 1.17;
                    letter-spacing: 0.72px;
                    text-align: left;
                    color: #000000;
                    background-color: #ffffff;
                    border-radius: 3px;
                    padding 12px 40px;
                }
            }
        }
    }
}
@media(max-width: 1400px){
    .container-produtos-pai .container-padrao .container-produto-pai{
        span{
            font-size: 13px;
        }
        h1{
            font-size: 25px;
        }
        p{
            font-size: 16px;
        }
        .container-produto .container-info{
            .container-medidas-pai{
                .container-seletor-pai-titulo p{
                    font-size: 13px;
                }
                .container-medidas .container-seletor-filho-pai p{
                    font-size: 13px;
                }
            }
            .container-adicionar a{
                font-size: 20px;
            }
            .container-cartao{
                img{
                    width: 45px;
                    height: 35px;
                }
                p{
                    font-size: 14px;
                }
            }
        }
    }
    .container-produtos-info .container-padrao{
        h1{
            font-size: 35px;
        }
        .container-conteudo p{
            font-size: 20px;
        }
    }
    .container-response-pai .container-padrao .container-conteudo{
        .container-response{
            img{
                width: 45px;
                height: 45px;
            }
            h1{
                font-size: 18px;
            }
        }    
        .container-botoes{
            p{
                font-size: 16px;
            }
            a{
                font-size: 16px;
            }
        }
    }
}
@media(max-width: 1000px){
    .container-produtos-categorias-pai .container-padrao{
        h1{
            font-size: 30px;
        }
        .container-categorias-pai .container-categorias{
            justify-content: space-evenly;
            a{
                padding-right: 20px;
            }
        }
        .container-categorias-filhas-pai .container-categorias-filhas-slide .container-categorias-filhas .container-categoria-filha-pai{
            width 220px;
            max-width 100%;
            padding: 14px
            a .container-categoria-filha{
                img{
                    height 75px;
                }
                h1{
                    font-size: 18px;
                }
            }
        }
    }
    .container-produtos-info .container-padrao{
        h1{
            font-size: 30px;
        }
        .container-conteudo p{
            font-size: 18px;
        }
    }
    .container-response-pai .container-padrao .container-conteudo{
        .container-response{
            img{
                width: 40px;
                height: 40px;
            }
            h1{
                font-size: 16px;
            }
        }    
        .container-botoes{
            p{
                font-size: 14px;
            }
            a{
                font-size: 14px;
            }
        }
    }
}
@media(max-width: 768px){
    .container-produtos-info .container-padrao{
        h1{
            font-size: 25px;
        }
        .container-conteudo{
            margin-top 50px;
            p{
                font-size: 16px;
            }
        }
    }
    .container-produtos-pai .container-padrao .container-produto-pai .container-produto{
        flex-direction: column;
        .container-imagem{
            width: 450px;
            margin 0 auto;
        }
        .container-info{
            width 100%;
        }
    }
    .container-response-pai .container-padrao .container-conteudo .container-botoes{
        flex-direction: column-reverse;
        align-items: center;
        p{
            margin-right: 0px
            margin-top: 20px
        }
        a{
            padding 10px 25px;
        }
    }
}
@media(max-width: 500px){
    .container-produtos-pai .container-padrao .container-produto-pai .container-produto .container-info .container-medidas-pai .container-medidas .container-seletor-filho-pai .container-seletor-filho .container-seletor .container-selected {
        padding: 11px 15px;
    }
    .container-produtos-pai .container-padrao .container-produto-pai .container-produto .container-info .container-medidas-pai .container-seletor-pai-titulo .container-seletor-pai .container-seletor .container-selected {
        padding: 11px 15px;
    }
    .container-produtos-pai .container-padrao .container-produto-pai .container-produto .container-info .container-medidas-pai .container-seletor-pai-titulo .container-seletor-pai .container-seletor .container-options .option {
        padding: 0 15px;
    }
    .container-produtos-pai .container-padrao .container-produto-pai .container-produto .container-info .container-medidas-pai .container-medidas .container-seletor-filho-pai .container-seletor-filho .container-seletor .container-options .option-pai .option {
        padding: 0 15px;
    }
    .container-produtos-pai .container-padrao .container-produto-pai .container-produto .container-info .container-medidas-pai .container-especial-filho-titulo .container-especial-filho input{
        padding: 11px 15px;
    }
    .container-produtos-pai .container-padrao .container-produto-pai .container-produto .container-info .container-medidas-pai .container-especial-pai-titulo .container-especial-pai input{
        padding: 11px 15px;
    }
}
@media(max-width: 450px){
    .container-produtos-pai .container-padrao .container-produto-pai .container-produto .container-info .container-medidas-pai{
        flex-direction: column;
        .container-especial-pai-titulo{
            width 100%;
        }
        .container-especial-filho-titulo{
            width 100%;
        }
        .container-seletor-pai-titulo{
            width 100%;   
            .container-seletor-pai .container-seletor{
                width: 100%;
            }
        }
        .container-medidas{
            width: 100%;
            .container-seletor-filho-pai .container-seletor-filho .container-seletor{
                width: 100%;
            }
        }
    }
    .container-produtos-pai .container-padrao .container-produto-pai .container-produto .container-imagem{
        height 280px
    }
    .container-produtos-info .container-padrao{
        h1{
            font-size: 20px;
            width: 220px;
        }
    }
}