.container-breadcrumb{
    width 100%;
    max-width 100%;
    padding:16px 0;
    .container-padrao{
        display flex;
        align-items: center;
        .home{
            width: 15px;
            height: 15px;
            margin-right: 14px;
        }
        .arrow{
            margin-right: 14px;
            height : 10px;
        }
        a{
            font-family: Libre Franklin;
            font-size: 14px;
            font-weight: 500;
            line-height: 1.21;
            letter-spacing: 0.56px;
            color: #727376;
        }
    }
}
.container-post-blog-pai{
    width 100%;
    max-width 100%;
    .container-padrao{
        .container-titulo{
            width: 85%;
            max-width 100%;
            h1{
                font-family: Libre Franklin;
                font-size: 40px;
                font-weight: bold;
                line-height: 1.23;
                letter-spacing: 1.6px;
                color: #4b4b4d;
                margin-top 70px;
            }
            p{
                font-family: SegoeUI;
                font-size: 20px;
                line-height: 1.35;
                color: #707070;
                margin-top 14px;
            }
        }
        .container-post-blog{
            margin-top 40px;
            display flex;
            justify-content: space-between;
            max-width 100%;
            width 100%;
            .container-post-conteudo{
                width 70%;
                max-width 100%;
                .container-autor{
                    width 100%
                    max-width: 100%;
                    display flex;
                    align-items: center;
                    .container-imagem-autor{
                        width: 94px;
                        height: 94px;
                        border-radius: 50%;
                        display flex;
                        justify-content: center;
                        align-items: center;
                        margin-right: 25px;
                        overflow hidden;
                        img{
                            width: 94px;
                            height: 94px;
                            object-fit: cover;
                        }
                    }
                    .container-info{
                        width fit-content;
                        max-width: 100%;
                        p{
                            font-family: Libre Franklin;
                            font-size: 18px;
                            font-weight: normal;
                            font-stretch: normal;
                            font-style: normal;
                            line-height: 1.5;
                            letter-spacing: normal;
                            text-align: left;
                            color: #161616;
                            margin: 0;
                        }
                    }
                }
                .container-imagem{
                    margin-top 48px;
                    width: 100%;
                    height 438px;
                    img{
                        width: 100%;
                        height 100%;
                        object-fit: cover;
                    }
                }
                .texto-completo{
                    width 100%;
                    max-width 100%;
                    margin-top 47px;
                    p{
                        font-family: Libre Franklin;
                        font-size: 22px;
                        font-weight: 500;
                        line-height: 1.18;
                        text-align: center;
                        color: #4b4b4d;
                        margin-top 30px;
                        strong{
                            font-family: Libre Franklin;
                        }
                    }
                    h1, h2, h3, h4, h5, h6{
                        font-family: Libre Franklin;
                        font-size: 30px;
                        font-weight: bold;
                        letter-spacing: 1.2px;
                        color: #000000;
                        text-align: center;
                        margin-top 25px;
                        strong{
                            font-family: Libre Franklin;
                        }
                    }
                }
            }
            .container-categorias-relacionados{
                width 25%;
                max-width 100%;
                .container-categorias{
                    width: 100%;
                    max-width 100%;
                    h1{
                        font-family: Libre Franklin;
                        font-size: 30px;
                        font-weight: bold;
                        line-height: 1.2;
                        letter-spacing: 1.2px;
                        color: #ff3d00;
                        position: relative;
                        padding-bottom: 8px;
                        &:before {
                            content : "";
                            position: absolute;
                            left    : 0;
                            bottom  : 0;
                            height  : 3px;
                            width   : 50px;
                            border-bottom:3px solid #ff3d00;
                            transition: all .3s;
                        }
                    }
                    .container-tags{
                        width: 100%;
                        max-width 100%;
                        display flex;
                        flex-wrap: wrap;
                        margin-top 17px;
                        a{
                            font-family: Libre Franklin;
                            font-size: 15px;
                            font-weight: 600;
                            line-height: 1.2;
                            letter-spacing: 0.6px;
                            text-align: left;
                            color: #4b4b4d;
                            transition: all .3s;
                            margin-right: 25px;
                            margin-top 10px;
                            position: relative;
                            padding-bottom: 5px;
                            &:before {
                                content : "";
                                position: absolute;
                                left    : 0;
                                bottom  : 0;
                                height  : 2px;
                                width   : 0px;
                                border-bottom:2px solid #ff3d00;
                                transition: all .3s;
                            }
                            &:hover{
                                color: #ff3d00;
                                &:before {
                                    width   : 15px;
                                }
                            }
                        }
                    }
                }
                .container-posts-relacionados{
                    width 100%;
                    max-width: 100%;
                    margin-top 50px;
                    h1{
                        font-family: Libre Franklin;
                        font-size: 18px;
                        text-align: center;
                        margin-top 20px;
                    }
                    .titulo-relacionados{
                        font-family: Libre Franklin;
                        font-size: 20px;
                        font-weight: 600;
                        line-height: 1.2;
                        letter-spacing: 0.8px;
                        text-align: left;
                        color: #ff3d00;
                        position: relative;
                        padding-bottom: 8px;
                        &:before {
                            content : "";
                            position: absolute;
                            left    : 0;
                            bottom  : 0;
                            height  : 3px;
                            width   : 50px;
                            border-bottom:3px solid #ff3d00;
                            transition: all .3s;
                        }
                    }
                    .container-posts{
                        max-width 100%;
                        width 100%;
                        .container-post{
                            width 100%;
                            max-width 100%;
                            background-color: #ffffff;
                            margin-top 50px;
                            .container-imagem{
                                height: 250px;
                                width: 100%;
                                max-width 100%;
                                img{
                                    height 100%;
                                    width: 100%;
                                    object-fit: cover;
                                }
                                // .container-tag{
                                //     p{

                                //     }
                                // }
                            }
                            h1{
                                font-family: Libre Franklin;
                                font-size: 20px;
                                font-weight: 600;
                                line-height: 1.2;
                                letter-spacing: 0.8px;
                                color: #4b4b4d;
                                margin-top: 20px;
                            }
                            p{
                                font-family: Libre Franklin;
                                font-size: 18px;
                                line-height: 1.5;
                                color: #4b4b4d;
                                margin-top 20px;

                            }
                            .container-ler-mais{
                                width: 100%;
                                max-width 100%;
                                display flex;
                                justify-content: center;
                                border-radius: 3px;
                                background-color: #4b4b4b;
                                margin-top: 20px;
                                a{
                                    font-family: Libre Franklin;
                                    font-size: 20px;
                                    font-weight: 600;
                                    line-height: 1.2;
                                    letter-spacing: 0.8px;
                                    color: #ffffff;
                                    margin: 0;
                                    width: 100%;
                                    text-align: center;
                                    padding:15px 0;
                                }
                            }
                        }
                    }
                }
            }
        }
        .container-comentarios{
            width: 100%;
            max-width 100%;
            margin-top 160px;
            h1{
                font-family: Libre Franklin;
                font-size: 30px;
                font-weight: bold;
                line-height: 1.2;
                letter-spacing: 1.2px;
                color: #ff3d00;
                position relative;
                padding-bottom: 5px;
                &:before {
                    content : "";
                    position: absolute;
                    left    : 0;
                    bottom  : 0;
                    height  : 2px;
                    width   : 50px;
                    border-bottom:2px solid #ff3d00;
                    transition: all .3s;
                }
            }
            #disqus_thread{
                width 70%;
                margin-top 50px;
            }
        }
    }
}
@media(max-width: 1400px){
    .container-post-blog-pai .container-padrao{
        .container-titulo{
            h1{
                font-size: 35px;
            }
            p{
                font-size: 18px;
            }
        }
        .container-post-blog{
            .container-post-conteudo{
                .container-autor{
                    .container-imagem-autor{
                        width: 80px;
                        height: 80px;
                        img{
                            width: 80px;
                            height: 80px;
                        }
                    }
                    .container-info p{
                        font-size: 16px;
                    }
                }
                .texto-completo{
                    p{
                        font-size: 20px;
                    }
                    h1, h2, h3, h4, h5, h6{
                        font-size: 25px;
                    }
                }
            }
            .container-categorias-relacionados{
                .container-categorias h1{
                    font-size: 25px;
                }
                .container-posts-relacionados{
                    h1{
                        font-size: 16px;
                    }
                    .titulo-relacionados{
                        font-size: 18px;
                    }
                    .container-posts{
                        .container-post{
                            h1{
                                font-size: 18px;
                            }
                            p{
                                font-size: 16px;

                            }
                            .container-ler-mais a{
                                font-size: 18px;
                            }
                        }
                    }
                }
            }
        }
        .container-comentarios h1{
            font-size: 25px;
        }
    }
}
@media(max-width: 1000px){
    .container-post-blog-pai .container-padrao{
        .container-titulo{
            h1{
                font-size: 30px;
            }
            p{
                font-size: 16px;
            }
        }
        .container-post-blog{
            .container-post-conteudo{
                .container-autor{
                    .container-imagem-autor{
                        width: 60px;
                        height: 60px;
                        img{
                            width: 60px;
                            height: 60px;
                        }
                    }
                    .container-info p{
                        font-size: 14px;
                    }
                }
                .texto-completo{
                    p{
                        font-size: 18px;
                    }
                    h1, h2, h3, h4, h5, h6{
                        font-size: 20px;
                    }
                }
            }
            .container-categorias-relacionados{
                .container-categorias h1{
                    font-size: 20px;
                }
                .container-posts-relacionados{
                    h1{
                        font-size: 14px;
                    }
                    .titulo-relacionados{
                        font-size: 16px;
                    }
                    .container-posts{
                        .container-post{
                            h1{
                                font-size: 16px;
                            }
                            p{
                                font-size: 14px;

                            }
                            .container-ler-mais a{
                                font-size: 16px;
                            }
                        }
                    }
                }
            }
        }
        .container-comentarios h1{
            font-size: 20px;
        }
    }
}
@media(max-width: 850px){
    .container-post-blog-pai .container-padrao{
        .container-titulo{
            h1{
                font-size: 25px;
            }
        }
        .container-post-blog{
            flex-direction: column;
            .container-post-conteudo{
                width 100%;
                .texto-completo{
                    p{
                        font-size: 16px;
                    }
                    h1, h2, h3, h4, h5, h6{
                        font-size: 18px;
                    }
                }
            }
            .container-categorias-relacionados{
                width 100%;
                margin-top 100px;
                .container-posts-relacionados .container-posts{
                    display flex;
                    justify-content: space-evenly;
                    .container-post{
                        width 30%;
                    }
                }
            }
        }
        .container-comentarios{
            h1{
                font-size: 25px;
            }
            #disqus_thread{
                width 100%;
            }
        }
    }
}
@media(max-width: 650px){
    .container-post-blog-pai .container-padrao .container-post-blog .container-categorias-relacionados .container-posts-relacionados .container-posts{
        flex-direction: column;
        .container-post{
            width 100%;
            .container-imagem {
                height: 200px;
            }
        }
    }
}
@media(max-width: 550px){
    .container-post-blog-pai .container-padrao .container-post-blog .container-post-conteudo .container-imagem {
        height: 300px;
    }
}