.container-banner{
    width 100%;
    height: 533px;
    position: relative;
    overflow: hidden;
    .container-background{
        position absolute;
        overflow hidden;
        width 100%;
        height 100%;
        transform: skewY(-3deg);
        top: -50px;
        z-index -1;
        img{
            width 100%;
            height 100%;
            float: right;
            transform: skewY(3deg);
            margin-top: 50px;
            object-fit: cover;
        }
        .container-gradient{
            position absolute;
            width 100%;
            height 100%;
            background: linear-gradient(39deg,#202020 0,rgba(0, 0, 0, 0) 100%);
        }
    }
    .container-breadcrumb{
        width 100%;
        max-width 100%;
        padding:16px 0;
        .container-padrao{
            display flex;
            align-items: center;
            .home{
                width: 15px;
                height: 15px;
                margin-right: 14px;
            }
            .arrow{
                margin-right: 14px;
                height : 10px;
            }
            a{
                font-family: Libre Franklin;
                font-size: 14px;
                font-weight: 500;
                line-height: 1.21;
                letter-spacing: 0.56px;
                color: #727376;
            }
        }
    }
    .container-padrao{
        .container-conteudo{
            margin-top: 140px;
            max-width 100%;
            h1{
                font-family: Libre Franklin;
                font-size: 40px;
                font-weight: bold;
                line-height: 1.5;
                letter-spacing: 1.6px;
                color: #ffffff;
                white-space: pre-line;
                text-transform: uppercase;
            }
        }
    }
}
.container-valores-sobre{
    width 100%;
    max-width 100%;
    margin-top: 50px;
    .container-padrao{
        display flex;
        justify-content: space-between;
        .container-valor{
            width: 31%;
            max-width 100%;
            display flex;
            .container-imagem{
                width: 93px;
                height: 87px;
                display flex;
                justify-content: center;
                align-items: center;
                margin-right: 28px;
                img{
                    height: 70px;
                }    
            }
            .container-conteudo{
                width: 240px;
                max-width 100%;
                h1{
                    font-family: Libre Franklin;
                    font-size: 18px;
                    font-weight: 500;
                    line-height: 1.5;
                    color: #4b4b4b;
                    margin-bottom: 16px;
                }
                p{
                    font-family: Libre Franklin;
                    font-size: 16px;
                    line-height: 1.38;
                    color: #717171;
                    img{
                        height: 22px;
                    }
                }
            }
        }
    }
}
.container-historia{
    width: 100%;
    max-width 100%;
    position relative;
    margin-top: 190px;
    .container-background{
        width 100%;
        max-width 100%;
        position absolute;
        display flex;
        justify-content: flex-end;
        height 100%;
        perspective: 500px;
        z-index -1;
        top: 0;
        bottom: 0;
        .container-bloco{
            position: absolute;
            width: 75%;
            left: 0;
            height: 80%;
            transform: rotate3d(4,7,-16,17deg);
            z-index: -1;
            border: solid 0.1px white;
            background-color: #ff3d00;
        }
    }
    .container-padrao{
        display flex;
        padding: 180px 18px 365px;
        justify-content: center;
        img{
            width: 47%;
            object-fit: cover;
            object-position: left;
            max-height: 750px;
        }
        .container-conteudo-pai{
            width: 50%;
            max-width 100%;
            .container-conteudo{
                width: 686px;
                max-width 100%;
                h1{
                    font-family: Libre Franklin;
                    font-size: 30px;
                    font-weight: bold;
                    line-height: 1.2;
                    letter-spacing: 1.2px;
                    color: #ffffff;
                }
                p{
                    font-family: Libre Franklin;
                    font-size: 20px;
                    line-height: 1.35;
                    color: #ffffff;
                    margin-top: 40px;
                    white-space: pre-line;
                }
            }
        }
    }
}
.container-idealizadores-pai{
    width 100%;
    max-width 100%;
    .container-padrao{
        display flex;
        align-items: center;
        flex-direction: column;
        overflow hidden;
        .titulo{
            font-family: Libre Franklin;
            font-size: 40px;
            font-weight: bold;
            line-height: 1.23;
            letter-spacing: 1.6px;
            color: #000000;
            position:relative;
            text-align: center;
            text-transform: uppercase;
            &:after{
                content: "";
                position: absolute;
                top: 50%;
                margin-left: 20px;
                height: 3px;
                width: 1000%;
                border-top: solid 3px #ff3d00;
            }
            &:before{
                content: "";
                position: absolute;
                top: 50%;
                margin-right: 20px;
                right: 100%;
                height: 3px;
                width: 1000%;
                border-top: solid 3px #ff3d00;
            }
        }
        .container-idealizadores{
            display flex;
            width: 100%;
            max-width 100%;
            flex-wrap: wrap;
            justify-content: space-evenly;
            margin-top: 100px;
            .container-idealizador{
                width 25%;
                display flex;
                justify-content: center;
                .container-conteudo{
                    width: 238px;
                    max-width: 100%;
                    padding: 0 15px;
                    display flex;
                    flex-direction: column;
                    align-items: center;
                    .container-imagem{
                        width: 208px;
                        height: 208px;
                        border-radius: 50%;
                        display flex;
                        align-items: center;
                        justify-content: center;
                        overflow hidden;
                        img{
                            width: 208px;
                            height: 208px;
                            object-fit: cover;
                            box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
                            border-radius: 50%;
                        }
                    }
                }
                h1{
                    font-family: Libre Franklin;
                    font-size: 20px;
                    font-weight: 600;
                    line-height: 1.2;
                    letter-spacing: 0.8px;
                    text-align: center;
                    color: #4b4b4d;
                    margin-top: 30px;
                }
                h2, h3, h4, h5, h6{
                    font-family: Libre Franklin;
                    font-size: 18px;
                    text-align: center;
                    color: #161616;
                    margin-top: 13px;
                }
                p{
                    font-family: Libre Franklin;
                    font-size: 16px;
                    line-height: 1.5;
                    text-align: center;
                    color: #161616;
                    margin-top: 13px;
                }
            }
        }
    }
}
.container-politica{
    width: 100%;
    max-width 100%;
    position relative;
    margin-top: 400px;
    .container-background{
        width: 100%;
        max-width: 100%;
        position: absolute;
        display: flex;
        height: 100%;
        -webkit-perspective: 500px;
        perspective: 500px;
        z-index: -1;
        top: 0;
        bottom: 0;
        img{
            width: 46%;
            object-fit: cover;
            object-position: right;
            height: 70%;
            margin-top: -203px;
        }
        .container-bloco{
            position: absolute;
            width: 77%;
            right: -135px;
            height: 80%;
            transform: rotate3d(-4,-7,16,17deg);
            z-index: -1;
            border: solid .1px #fff;
            background-color: #ff3d00;
        }
    }
    .container-padrao{
        display flex;
        justify-content: flex-end;
        padding: 40px 18px 590px;
        .container-conteudo-pai{
            width: 53%;
            max-width 100%;
            .container-conteudo{
                width: 686px;
                max-width 100%;
                h1{
                    font-family: Libre Franklin;
                    font-size: 30px;
                    font-weight: bold;
                    line-height: 1.2;
                    letter-spacing: 1.2px;
                    color: #ffffff;
                }
                p{
                    font-family: Libre Franklin;
                    font-size: 20px;
                    line-height: 1.35;
                    color: #ffffff;
                    margin-top: 83px;
                    white-space: pre-line;
                }
                .container-imagens{
                    display flex;
                    width 100%;
                    max-width 100%;
                    flex-wrap: wrap;
                    margin-top: 40px;
                    align-items: center;
                    .container-imagem{
                        width: 91px;
                        margin-right: 100px;
                        margin-top: 10px;
                        img{
                            width 100%;
                        }
                    }
                }
                h2{
                    font-family: Libre Franklin;
                    font-size: 25px;
                    font-weight: bold;
                    line-height: 1.2;
                    letter-spacing: 1px;
                    color: #ffffff;
                    margin-top: 40px;
                }
                .container-link{
                    border-radius: 3px;
                    background-color: #000000;
                    display flex;
                    margin-top: 20px;
                    width fit-content;
                    transition all .3s;
                    a{
                        font-family: Libre Franklin;
                        font-size: 20px;
                        font-weight: 600;
                        line-height: 1.5;
                        letter-spacing: 0.8px;
                        color: #ffffff;
                        padding: 12px 55px;
                    }
                    &:hover{
                        filter invert(1);
                    }
                }
            }
        }
    }
}
.container-linha-produtos{
    width 100%;
    max-width 100%;
    .container-padrao{
        display flex;
        align-items: center;
        flex-direction: column;
        overflow hidden;
        .titulo{
            font-family: Libre Franklin;
            font-size: 40px;
            font-weight: bold;
            line-height: 1.23;
            letter-spacing: 1.6px;
            color: #000000;
            position:relative;
            text-align: center;
            text-transform: uppercase;
            &:after{
                content: "";
                position: absolute;
                top: 50%;
                left: 100%;
                margin-left: 20px;
                height: 3px;
                width: 1000%;
                border-top: solid 3px #ff3d00;
            }
            &:before{
                content: "";
                position: absolute;
                top: 50%;
                margin-right: 20px;
                right: 100%;
                height: 3px;
                width: 1000%;
                border-top: solid 3px #ff3d00;
            }
        }
    }
    .container-linha{
        width 100%;
        max-width 100%;
        display: flex;
        justify-content: space-evenly;
        flex-wrap: wrap;
        margin: 50px 0 250px;
        a{
            margin-top: 100px;
            .container-categoria{
                display flex;
                align-items: center;
                justify-content: space-between;
                width 244px;
                max-width 100%;
                min-width 210px;
                .container-imagem{
                    width 90px
                    height: 75px;
                    img{
                        width 100%;
                    }
                }
                h1{
                    width: 150px;
                    font-family: Libre Franklin;
                    font-size: 25px;
                    font-weight: 600;
                    line-height: 1.2;
                    letter-spacing: 1px;
                    color: #4b4b4d;
                    position relative;
                    padding-bottom: 5px;
                    transition: all .3s;
                    &:before {
                        content : "";
                        position: absolute;
                        left    : 0;
                        bottom  : 0;
                        height  : 2px;
                        width   : 50px;
                        border-bottom:2px solid #ff3d00;
                    }
                }
            }
            &:hover{
                .container-categoria h1{
                    color #ff3d00;
                }
            }
        }
    }
}
@media(max-width: 1400px){
    .container-banner .container-padrao .container-conteudo h1{
        font-size: 35px;
    }
    .container-valores-sobre .container-padrao .container-valor{
        .container-imagem img{
            height: 50px;
        }    
        .container-conteudo{
            h1{
                font-size: 16px;
            }
            p{
                font-size: 14px;
            }
        }
    }
    .container-historia{
        .container-background .container-bloco{
            left: -40px;
        }
        .container-padrao .container-conteudo-pai .container-conteudo{
            h1{
                font-size: 25px;
            }
            p{
                font-size: 18px;
            }
        }
    }
    .container-idealizadores-pai .container-padrao{
        .titulo{
            font-size: 35px;
        }
        .container-idealizadores .container-idealizador{
            .container-conteudo .container-imagem{
                width: 190px;
                height: 190px;
                img{
                    width: 190px;
                    height: 190px;
                }
            }
            h1{
                font-size: 18px;
            }
            h2, h3, h4, h5, h6{
                font-size: 16px;
            }
            p{
                font-size: 15px;
            }
        }
    }
    .container-politica .container-padrao .container-conteudo-pai .container-conteudo{
        h1{
            font-size: 25px;
        }
        p{
            font-size: 18px;
        }
        h2{
            font-size: 20px;
        }
        .container-link a{
            font-size: 18px;
        }
    }
    .container-linha-produtos{
        .container-padrao .titulo{
            font-size: 35px;
        }
        .container-linha{
            a .container-categoria{
                .container-imagem{
                    width 90px
                    height: 75px;
                    img{
                        width 100%;
                    }
                }
                h1{
                    font-size: 20px;
                }
            }
        }
    }
}
@media(max-width: 1200px){
    .container-politica .container-background .container-bloco {
        right: -80px;
    }
}
@media(max-width 1000px){
    .container-banner .container-padrao .container-conteudo h1{
        font-size: 30px;
    }
    .container-valores-sobre .container-padrao .container-valor .container-imagem{
        margin-right: 15px;
    } 
    .container-idealizadores-pai{
        margin-top 100px;
        .container-padrao{
            .titulo{
                font-size: 30px;
            }
            .container-idealizadores .container-idealizador{
                .container-conteudo .container-imagem{
                    width: 180px;
                    height: 180px;
                    img{
                        width: 180px;
                        height: 180px;
                    }
                }
                h1{
                    font-size: 17px;
                }
            }
        }
    }
    .container-historia{
        .container-background{
            flex-direction: column;
            justify-content: flex-start;
            .container-bloco{
                width: 100%;
                left: 0;
                height: 100%;
                -webkit-transform: rotate3d(4,7,-16,17deg);
                transform: rotate3d(-12,24,-18,3deg);
            }
        }
        .container-padrao{
            padding: 0 46px 100px;
            flex-direction: column-reverse;
            img{
                width 100%;
                margin-bottom: 50px;
            }
            .container-conteudo-pai{
                width: 100%;
                .container-conteudo{
                    width: 100%;
                    h1{
                        font-size: 18px;
                    }
                    p{
                        font-size: 15px;
                    }
                }
            }
        }
    }
    .container-politica{
        .container-background{
            flex-direction: column;
            img{
                width: 100%;
                height: fit-content;
                margin-top: -130px;
            }
            .container-bloco{
                width: 100%;
                right: 0;
                transform: rotate3d(-4,-7,16,2deg);
                height 100%;
            }
        }
        .container-padrao{
            padding: 72% 50px 100px;
            .container-conteudo-pai{
                width: 100%;
                .container-conteudo{
                    width: 100%;
                    p{
                        font-size: 16px;
                        margin-top: 50px;
                    }
                    .container-imagens .container-imagem{
                        width: 72px;
                        margin-right: 50px;
                    }
                }
            }
        }
    }
    .container-linha-produtos{
        margin-top 100px;
        .container-padrao .titulo{
            font-size: 30px;
        }
        .container-linha{
            a .container-categoria{
                .container-imagem{
                    width 70px
                    height: 55px;
                }
                h1{
                    font-size: 18px;
                }
            }
        }
    }
}
@media(max-width: 768px){
    .container-banner .container-padrao .container-conteudo h1{
        font-size: 20px;
    }
    .container-valores-sobre .container-padrao{
        flex-direction: column;
        .container-valor{
            width: fit-content;
            margin-top 50px;
        }
    }
    .container-idealizadores-pai .container-padrao{
        .titulo{
            font-size: 25px;
        }
        .container-idealizadores {
            margin-top: 0;
            .container-idealizador{
                margin-top: 60px;
                width: 45%;
                .container-conteudo .container-imagem{
                    max-width: 100%;
                }
            }
        }
    }
    .container-politica{
        .container-padrao{
            padding: 72% 30px 100px;
            .container-conteudo-pai{
                width: 100%;
                .container-conteudo{
                    width: 100%;
                    h2{
                        font-size: 18px;
                    }
                    h1{
                        font-size: 20px;
                    }
                    p{
                        font-size: 16px;
                        margin-top: 50px;
                    }
                    .container-link{
                        a{
                            font-size: 16px;
                            padding: 12px 45px;
                        }
                    }
                    .container-imagens{
                        justify-content: space-evenly;
                        .container-imagem{
                            max-width: 100px;
                            width: 20%;
                            margin-right: 0px;
                        }
                    }
                }
            }
        }
    }
    .container-linha-produtos .container-padrao .titulo {
        font-size: 25px;
    }
}
@media(max-width: 500px){
    .container-linha-produtos .container-padrao .titulo {
        width 240px;
    }
}
@media(max-width: 450px){
    .container-idealizadores-pai .container-padrao .container-idealizadores .container-idealizador{
        width: 100%;
    }
}